@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Plus+Jakarta+Sans:wght@200;600&display=swap");
:root {
  --star-size: 12px;
  --star-color: #eee;
  --star-background: #fc0;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif;
}

body.gray-bg {
  background-color: #FBFBFB;
}

::-webkit-input-placeholder {
  color: #1E1E1E;
  opacity: 1;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:-ms-input-placeholder {
  color: #1E1E1E;
  opacity: 1;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

::-ms-input-placeholder {
  color: #1E1E1E;
  opacity: 1;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

::placeholder {
  color: #1E1E1E;
  opacity: 1;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.under-line {
  display: inline-block;
  border-bottom: 2px #1E1E1E solid;
  line-height: 1;
}

.more-btn a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px 5px 30px;
  border: 1px solid #1E1E1E;
  font-size: 14px;
  text-decoration: none;
  color: #1E1E1E;
  border-radius: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.more-btn a:hover {
  background: black;
  color: white;
}

.more-btn a:hover img {
  display: none;
}

.more-btn a:hover img.btn-black {
  display: block;
}

.more-btn img {
  width: 10px !important;
  margin: 0 !important;
  margin-left: 5px !important;
}

.more-btn img.btn-black {
  display: none;
}

.more-btn.black-btn a {
  background-color: #1E1E1E;
  color: white;
}

.more-btn.black-btn a:hover {
  background: white;
  color: #1E1E1E;
}

.more-btn.black-btn a:hover img {
  display: block;
}

.more-btn.black-btn a:hover img.btn-black {
  display: none;
}

.more-btn.black-btn img {
  display: none;
}

.more-btn.black-btn img.btn-black {
  display: block;
}

small.small-title {
  font-size: 20px;
}

.main-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 74px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
  padding: 8px 0;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button.white-btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #1E1E1E;
  background-color: white;
  border: 1px #1E1E1E solid !important;
  margin-right: 12px;
}

button.black-btn {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  color: white;
  background-color: #1E1E1E !important;
}

button.black-btn img {
  margin: 0 3px;
  width: 20px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

header nav ul {
  margin-bottom: 0;
}

header nav .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 1440px) {
  header nav .main-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 890px) {
  header nav .main-menu {
    display: none;
  }
}

header nav .main-menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 0 8px;
  font-size: 16px;
}

header nav .main-menu a small {
  display: block;
  color: #7c7c7c;
  font-size: 12px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all .5s;
  transition: all .5s;
}

header nav .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1440px) {
  header nav .sub-menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

header nav .sub-menu .sub-menu-item {
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .sub-menu .sub-menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  text-decoration: none;
}

@media screen and (max-width: 890px) {
  header nav .sub-menu .sub-menu-item.search-box, header nav .sub-menu .sub-menu-item.choice-lang {
    display: none;
  }
}

header nav .sub-menu .sub-menu-item.choice-lang .lang-box {
  border-radius: 3px;
  overflow: hidden;
}

header nav .sub-menu .sub-menu-item.choice-lang .lang-box a {
  display: block;
  padding: 16px;
}

header nav .sub-menu .sub-menu-item.choice-lang .lang-box a:hover {
  background-color: #1E1E1E;
  color: white;
}

header nav .sub-menu .sub-menu-item.shopping-cart .dropdown .dropdown-box {
  min-width: 375px;
}

@media screen and (max-width: 890px) {
  header nav .sub-menu .sub-menu-item.shopping-cart .dropdown .dropdown-box {
    top: unset;
    position: fixed;
    bottom: 0;
  }
}

header nav .sub-menu .sub-menu-item .dropdown {
  position: relative;
}

header nav .sub-menu .sub-menu-item .dropdown button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box {
  position: absolute;
  top: 25px;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  width: 100%;
  min-width: 100px;
  z-index: 10;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box.active {
  display: block;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-box {
  padding: 40px 30px 15px;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-custom {
  padding-top: 15px;
  border-top: 1px #E0E0E0 solid;
}

@media screen and (max-width: 890px) {
  header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-custom {
    max-height: 300px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px 30px;
}

header nav .sub-menu input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  max-width: 60px;
  font-size: 12px;
}

header nav .sub-menu input ::-webkit-input-placeholder {
  color: black;
}

header nav .sub-menu input :-ms-input-placeholder {
  color: black;
}

header nav .sub-menu input ::-ms-input-placeholder {
  color: black;
}

header nav .sub-menu input ::placeholder {
  color: black;
}

header nav .sub-menu .choice-lang {
  font-size: 12px;
}

header nav .sub-menu a {
  color: #1E1E1E;
}

header nav .sub-menu img {
  margin: 0 3px;
  width: 20px;
}

header nav .sub-menu img.search, header nav .sub-menu img.arrow {
  width: 10px;
}

header nav .logo {
  margin: 0 auto;
  line-height: 1;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media screen and (max-width: 1440px) {
  header nav .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

header nav .logo img {
  width: 300px;
  height: auto;
}

@media screen and (max-width: 1280px) {
  header nav .logo img:first-child {
    display: none;
  }
}

header nav .logo img:last-child {
  display: none;
}

@media screen and (max-width: 1280px) {
  header nav .logo img:last-child {
    display: block;
    width: 80px;
  }
}

header .sidebar-menu {
  display: none !important;
  margin-right: 0 !important;
}

@media screen and (max-width: 890px) {
  header .sidebar-menu {
    display: block !important;
  }
}

header .sidebar-menu .openbtn {
  background: transparent;
  border: none;
}

header .sidebar-menu .openbtn img {
  width: 30px;
}

header .sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: -250px;
  background-color: #1E1E1E;
  overflow-x: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 60px;
}

header .sidebar.active {
  right: 0px;
}

header .sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
}

header .sidebar a:hover {
  color: #f1f1f1;
}

header .sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

header .openbtn {
  cursor: pointer;
}

header #main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  header .sidebar {
    padding-top: 15px;
  }
  header .sidebar a {
    font-size: 18px;
  }
}

header .main-menu-mobile small {
  display: block;
  font-size: 12px;
  opacity: .7;
}

.star-box {
  margin: 8px 0;
  font-size: 12px;
  font-weight: 400;
}

.star-box .stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.star-box .stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: -webkit-gradient(linear, left top, right top, from(var(--star-background)), to(var(--star-color)));
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.num-item {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

.num-item.num-ctrl {
  border: 1px #C4C4C4 solid;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.num-item img {
  width: 10px !important;
}

.num-item input {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  max-width: 60px;
}

.custom-item {
  margin-top: 16px;
}

.custom-p p {
  font-size: 12px;
}

.custom-p p.main-p {
  font-weight: 500;
}

.custom-p p.sub-p {
  font-weight: 400;
  text-decoration: underline;
}

.cart-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-top .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-top .cart-item img {
  width: 80px;
  height: auto;
  margin: 0;
  margin-right: 8px;
}

.cart-top .cart-item .cart-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-top .cart-item .cart-title .cart-title-text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.cart-top .cart-item .cart-title .form-check {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding-top: 4px;
  margin-right: 0;
}

.cart-top .cart-item .cart-title .form-check .form-check-input {
  margin-right: 0;
}

.cart-top .cart-item .cart-title input[type='checkbox'] {
  accent-color: #1E1E1E;
}

.cart-top .cart-item .cart-price {
  font-size: 14px;
  font-weight: 600;
  margin-top: auto;
}

.cart-top .cart-item .cart-sale {
  font-size: 12px;
}

.cart-top .cart-item .cart-sale .cart-old-price {
  display: inline-block;
  text-decoration: line-through;
  color: #B4B4B4;
  font-weight: 500;
}

.cart-top .cart-item .cart-sale .cart-sale-num {
  display: inline-block;
  color: #1E1E1E;
  font-weight: 600;
}

.cart-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  font-size: 12px;
  font-weight: 400;
}

.cart-info img {
  width: 12px;
  height: 12px;
  margin: 0;
  margin-right: 6px;
}
/*# sourceMappingURL=both.css.map */