@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Plus+Jakarta+Sans:wght@200;600&display=swap');

:root {
    --star-size: 17px;
    --star-color: #eee;
    --star-background: #fc0;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif;
    &.gray-bg{
        background-color: #FBFBFB;
    }
}

::placeholder {
    color: #1E1E1E;
    opacity: 1;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.form-control{
    background-color: #F8F9F9;
    border: none;
    font-size: 14px;
    &:focus{
        color: #495057;
        background-color: #F8F9F9;
        border-color: none;
        outline: 0;
        box-shadow: none;
    }
}

.custom-control-input:checked~.custom-control-label::before{
    border-color: #1E1E1E;
    background-color: #1E1E1E;
}
.custom-control-input:focus~.custom-control-label::before{
    box-shadow: none;
}

.under-line{
    display: inline-block;
    border-bottom: 2px #1E1E1E solid;
    line-height: 1;
}

.more-btn{
    a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 5px 20px;
        border: 1px solid #1E1E1E;
        font-size: 14px;
        text-decoration: none;
        color: #1E1E1E;
        border-radius: 2px;
        transition: all .5s;
        &:hover{
            background: black;
            color: white;
            img{
                display: none;
                &.btn-black{
                    display: block;
                }
            }
        }
    }
    img{
        width: 10px !important;
        margin: 0 !important;
        margin-left: 5px !important;
        &.btn-black{
            display: none;
        }
    }
    &.black-btn{
        a{
            background-color: #1E1E1E;
            color: white;
            &:hover{
                background: white;
                color: #1E1E1E;
                img{
                    display: block;
                    &.btn-black{
                        display: none;
                    }
                }
            }
        }
        img{
            display: none;
            &.btn-black{
                display: block;
            }
        }
    }
}

.border-gray{
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 25px;
}

.sub-menu-item{
    margin: 0 8px;
    display: flex;
    align-items: center;
    a{
        display: flex;
        align-items: center;
        line-height: 1;
        text-decoration: none;
    }
    &.search-box, &.choice-lang{
        @media screen and (max-width: 890px) {
            display: none;
        }
    }
    &.choice-lang{
        .lang-box{
            border-radius: 3px;
            overflow: hidden;
            a{
                display: block;
                padding: 16px;
                &:hover{
                    background-color: #1E1E1E;
                    color: white;
                }
            }
        }
    }
    &.shopping-cart{
        .dropdown{
            .dropdown-box{
                min-width: 375px;
                @media screen and (max-width: 890px) {
                    top: unset;
                    position: fixed;
                    bottom: 0;
                }
            }
        }
        .cart-btn{
            position: relative;
            &:after{
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: red;
                position: absolute;
                top: 0;
                right: 3px;
                display: none;

            }
            &.is-shopping{
                &:after{
                    display: block;
                }
            }
        }
    }
    .dropdown{
        position: relative;
        button{
            display: flex;
            align-items: center;
            background: transparent;
            border: none;
            font-size: 12px;
        }
        .lang-box{
            position: absolute;
            top: 25px;
            right: 0;
            background-color: white;
            box-shadow: 0 0 10px rgba(0,0,0,.2);
            display: none;
            width: 100%;
            min-width: 100px;
            z-index: 10;
            &.active{
                display: block;
            }
        }
    }
}

// small title
small{
    &.small-title{
        font-size: 20px;
        font-weight: 500;
        @media screen and (max-width: 576px) {
            font-size: 12px;
        }
    }
}

// main title
.main-title{
    font-size: 60px;
    font-weight: 600;
    line-height: 74px;
    margin-bottom: 30px;
    @media screen and (max-width: 576px) {
        font-size: 35px;
        line-height: 45px;
        margin-bottom: 0px;
    }
}

// button
button{
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 8px 0;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    justify-content: center;
    &.white-btn{
        flex: 1;
        color: #1E1E1E;
        background-color: white;
        border: 1px #1E1E1E solid !important;
        margin-right: 12px;
    }
    &.black-btn{
        flex: 2;
        color: white;
        background-color: #1E1E1E !important;
        img{
            margin: 0 3px;
            width: 12px;
        }
    }
}

// header
header{
    nav{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 30px 16px;
        @media screen and (max-width: 576px) {
            padding: 16px;
        }
        ul{
            margin-bottom: 0;
        }
        .main-menu{
            display: flex;
            flex: 1;
            @media screen and (max-width: 1440px) {
                order: 2;
                margin: 0 auto;
                flex: 2;
                justify-content: center;
            }
            @media screen and (max-width: 890px) {
                display: none;
            }
            li{
                &.disabled{
                    opacity: .5;
                    pointer-events: none;
                }
            }
            a{
                display: block;
                text-align: center;
                text-decoration: none;
                color: black;
                margin: 0 16px;
                font-size: 16px;
                small{
                    display: block;
                    color: #7c7c7c;
                    font-size: 12px;
                    transform: scale(.9);
                    transition: all .5s;
                }
            }
        } 
        .sub-menu{
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: flex-end;
            @media screen and (max-width: 1440px) {
                order: 3;
            }
            input{
                border: none;
                background: transparent;
                outline: none;
                width: 100%;
                max-width: 60px;
                font-size: 12px;
                ::placeholder{
                    color: black;
                }
            }
            .choice-lang{
                font-size: 12px;
            }
            a{
                color: #1E1E1E;
            }
            img{
                margin: 0 3px;
                width: 20px;
                &.search, &.arrow{
                    width: 10px;
                }
            }
        }
        .logo{
            margin: 0 auto;
            line-height: 1;
            text-align: center;
            flex: none;
            @media screen and (max-width: 1440px) {
                order: 1;
            }
            img{
                width: 300px;
                height: auto;
                &:first-child{
                    @media screen and (max-width: 1280px) {
                        display: none;
                    }
                }
                &:last-child{
                    display: none;
                    @media screen and (max-width: 1280px) {
                        display: block;
                        width: 80px;
                    }
                    @media screen and (max-width: 576px) {
                        display: block;
                        width: 68px;
                    }
                }
            }
        }
    }
    .sidebar-menu{
        display: none !important;
        margin-right: 0 !important;
        @media screen and (max-width: 890px) {
            display: block !important;
        }
        .openbtn{
            background: transparent;
            border: none;
            img{
                width: 49px;
            }
        }
    }
    .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        z-index: 100;
        top: 0;
        right: -250px;
        background-color: #1E1E1E;
        overflow-x: hidden;
        transition: all 0.5s;
        padding-top: 60px;
        &.active{
            right: 0px;
        }
        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 16px;
            color: white;
            display: block;
            &:hover {
                color: #f1f1f1;
            }
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }
    
    .openbtn {
        cursor: pointer;
    }
    
    #main {
        transition: margin-left .5s;
    }

    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }
        .sidebar a {
            font-size: 18px;
        }
    }
    .main-menu-mobile{
        small{
            display: block;
            font-size: 12px;
            opacity: .7;
        }
    }
}

.star-box{
    margin: 8px 0;
    font-size: 12px;
    font-weight: 400;
    .stars {
        --percent: calc(var(--rating) / 5 * 100%);
        display: inline-block;
        font-size: var(--star-size);
        font-family: Times; // make sure ★ appears correctly
        line-height: 1;
        &::before {
            content: '★★★★★';
            letter-spacing: 3px;
            background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.num-item{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    &.num-ctrl{
        border: 1px #C4C4C4 solid;
        border-radius: 3px;
        padding: 5px;
        cursor: pointer;
    }
    img{
        width: 10px !important;
    }
    input{
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        border: none;
        background: transparent;
        outline: none;
        width: 100%;
        max-width: 60px;
    }
}

.custom-item{
    margin-top: 16px;
}
.custom-p{
    p{
        font-size: 12px;
        &.main-p{
            font-weight: 500;
        }
        &.sub-p{
            font-weight: 400;
            text-decoration: underline;
        }
    }
}
.cart-top{
    display: flex;
    .cart-item{
        display: flex;
        flex-direction: column;
        &:first-child{
            flex: none;
            width: 80px;
        }
        &:last-child{
            padding: 7px 0 7px 15px;
            
        }
        img{
            width: 100%;
            height: auto;
            margin: 0;
        }
        .cart-title{
            display: flex;
            font-size: 14px;
            font-weight: 400;
            align-items: flex-start;
            .cart-title-text{
                flex: 2;
            }
            .form-check{
                flex: none;
                padding-top: 4px;
                margin-right: 0;
                .form-check-input{
                    margin-right: 0;
                }
            }
        }
        .cart-price{
            font-size: 14px;
            font-weight: 600;
            margin-top: auto;
        }
        .cart-sale{
            font-size: 12px;
            .cart-old-price{
                display: inline-block;
                text-decoration: line-through;
                color: #B4B4B4;
                font-weight: 500;
            }
            .cart-sale-num{
                display: inline-block;
                color: #1E1E1E;
                font-weight: 600;
            }
        }
    }
}
.cart-bottom{
    display: flex;
    justify-content: flex-end;
}
.cart-info{
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
    img{
        width: 12px;
        height: 12px;
        margin: 0;
        margin-right: 6px;
    }
}

// footer
footer{
    background-color: #1E1E1E;
    color: white;
    .footer-box{
        display: flex;
        justify-content: space-around;
        padding: 80px 16px 30px;
        margin: 0 auto;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
        @media screen and (max-width: 425px) {
            
        }
    }
    .footer-logo{
        display: block;
        width: 152px;
        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
        }
        @media screen and (max-width: 425px) {
            margin-top: 30px;
            margin-left: 24px;
        }
        img{
            width: 100%;
        }
    }
    .footer-menu-box{
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        @media screen and (max-width: 767px) {
            margin-left: 0;
            flex-direction: column;
        }
        .footer-about{
            margin-left: 125px;
            @media screen and (max-width: 425px) {
                margin-left: 27px;
                margin-top: 50px;
            }
        }
        p{
            font-size: 16px;
            font-weight: 600;
        }
        ul{
            font-size: 12px;
            margin-top: 12px;
            li{
                line-height: 2;
                &:before, &:after{
                    display: table;
                    content: "";
                    line-height: 0;
                }
            }
            dt{
                width: 70px;
                float: left;
                padding-right: 16px;
                font-size: 12px;
            }
            dd{
                overflow: hidden;
                zoom: 1;
            }
            a{
                color: white;
                text-decoration: none;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
    .footer-menu{
        display: flex;
        @media screen and (max-width: 767px) {
            display: none;
        }
        .menu-item{
            margin-right: 36px;
            &.disabled{
                opacity: .4;
                pointer-events: none;
            }
        }
    }
    .footer-menu-mobile{
        width: 100%;
        margin-top: 24px;
        display: none;
        @media screen and (max-width: 767px) {
            display: block;
        }
        .accordion{
            .card{
                background-color: transparent;
                border: none;
                border-radius: 0;
                &:last-child{
                    .card-header{
                        border-bottom: 1px #ccc solid;
                    }
                }
            }
            .card-header{
                padding: 0;
                background-color: transparent;
                border-bottom: none;
                padding: 15px;
                border-top: 1px solid rgba(255, 255, 255, 0.5);
                margin-bottom: 0;
            }
            .card-body{
                padding: 0;
            }
            .btn-link{
                display: flex;
                justify-content: space-between;
                color: white;
                box-shadow: none;
                font-size: 16px;
                text-decoration: none;
                padding: 0;
                .add-img{
                    display: none;
                }
                .reduce-img{
                    display: block;
                }
                &.collapsed{
                    .add-img{
                        display: block;
                    }
                    .reduce-img{
                        display: none;
                    }
                }
            }
            .footer-panel{
                a{
                    position: relative;
                    display: block;
                    color: white;
                    font-size: 12px;
                    border-top: 1px solid rgba(255, 255, 255, 0.2);
                    padding: 15px 20px 15px 30px;
                    text-decoration: none;
                    &:before{
                        content: '';
                        display: block;
                        width: 8px;
                        height: 1px;
                        background-color: white;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 15px;
                    }
                }
            }
        }
    }
    .copyright-box{
        background-color: black;
        padding: 8px 16px;
        font-size: 12px;
        @media screen and (max-width: 767px) {
            padding: 16px 12px;
        }
        .copyright-item{
            width: 100%;
            max-width: 1210px;
            margin: 0 auto;
            display: flex;
            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
            p, ul{
                margin-bottom: 0;
            }
            ul{
                overflow: hidden;
                @media screen and (max-width: 767px) {
                    margin-top: 8px;
                }
                li{
                    float: left;
                    margin-left: 24px;
                    position: relative;
                    &:first-child{
                        @media screen and (max-width: 767px) {
                            margin-left: 0;
                            &::before{
                                display: none;
                            }
                        }
                    }
                    &:before{
                        content: '';
                        display: block;
                        width: 1px;
                        height: 10px;
                        background-color: white;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: -12px;
                    }
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.product-item-info{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .info-item{
        position: relative;
        display: flex;
        align-items: center;
        .info-sale{
            position: absolute;
            top: 0;
            left: 0;
            background-color: #1E1E1E;
            color: white;
            font-size: 12px;
            font-weight: 600;
            padding: 2px 8px;
        }
        img{
            width: 100%;
        }
        &.info-title{
            font-size: 16px;
            font-weight: 500;
            color: #333;
            margin-top: 5px;
            letter-spacing: 1px;
            @media screen and (max-width: 576px) {
                font-size: 14px;
            }
        }
        &.info-price{
            .new-price{
                font-size: 20px;
                font-weight: 600;
                margin-right: 8px;
                @media screen and (max-width: 576px) {
                    font-size: 14px;
                }
            }
            .old-price{
                font-size: 12px;
                font-weight: 500;
                text-decoration: line-through;
                color: #B4B4B4;
            }
        }
        &.info-btn{
            margin-top: 16px;
            align-items: unset;
            .favorite-btn{
                img{
                    &:last-child{
                        display: none;
                    }
                }
                &.like-btn{
                    img{
                        &:first-child{
                            display: none;
                        }
                        &:last-child{
                            display: block;
                        }
                    }
                }
            }
            .remove-btn{
                color: #7C7C7C !important;
                border-color: #7C7C7C !important;
                span{
                    color: #7C7C7C;
                    @media screen and (max-width: 576px) {
                        display: none;
                    }
                }
                img{
                    display: none;
                    @media screen and (max-width: 576px) {
                        display: block;
                        opacity: .5;
                    }
                }
            }
            img{
                width: 16px;
            }
        }
    }
}

// shopping-cart-box
.shopping-cart-box{
    
}

.fixed-model{
    position: fixed;
    top: 25px;
    right: -100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    width: 100%;
    min-width: 100px;
    min-height: 300px;
    z-index: 10;
    max-width: 375px;
    transition: 1s all;
    @media screen and (max-width: 576px){
        max-width: 100%;
    }
    .close-btn{
        position: absolute;
        top: 16px;
        right: 16px;
    }
    .cart-box{
        padding: 40px 30px 15px;
    }
    .cart-custom{
        padding-top: 15px;
        border-top: 1px #E0E0E0 solid;
        @media screen and (max-width: 890px){
            // max-height: 300px;
            height: 300px;
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
        }
    }
    .cart-footer{
        display: flex;
        justify-content: center;
        padding: 0 30px 30px;
    }
    .cart-info{
        padding: 16px 30px;
    }
    &.active{
        right: 16px;
        @media screen and (max-width: 576px){
            right: 0;
        }
    }
    .fixed-title{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
}

.breadcrumb{
    background-color: transparent;
    padding: 0;
}

input[type='checkbox'] {
    accent-color: #1E1E1E;
}

.musk-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    &.active{
        display: flex;
    }
    .popup-info-box{
        width: 360px;
        height: 310px;
        position: relative;
        background-color: white;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        .close-btn{
            position: absolute;
            top: 16px;
            right: 16px;
            opacity: .5;
        }
        .popup-title{
            font-size: 25px;
            font-weight: 600;
            margin: 18px 0 15px;
        }
        .popup-desc{
            font-size: 14px;
            font-weight: 500;
            opacity: 0.85;
        }
        .more-btn{
            width: 100%;
            margin-top: 40px;
            a{
                display: flex;
                padding: 10px 16px;
            }
        }
        .musk-body{
            display: flex;
            .img-box{
                width: 80px;
                height: 80px;
                margin-right: 10px;
                img{
                    width: 100%;
                }
            }
            .info-box{
                p{
                    font-size: 14px;
                    font-weight: 400;
                }
                .info-item{
                    display: flex;
                    align-items: flex-start;
                    img{
                        width: 12px;
                        margin-top: -3px;
                        margin-right: 3px;
                    }
                    .item{
                        font-size: 12px;
                        font-weight: 400;
                        span{
                            display: block;
                            color: #ff0000;
                        }
                    }
                }
            }
        }
        .ctrl-num-box{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .num-ctrl-item{
                display: flex;
                margin-left: 10px;
            }
        }
    }
}

.coupon-box{
    background-color: #F8F9F9;
    padding: 14px 19px;
    margin-top: 10px;
    display: flex;
    box-shadow: 0 2px 0px rgba(0,0,0,.8);
    border-radius: 10px;
    .coupon-item{
        display: flex;
        flex-direction: column;
        &:first-child{
            flex: 2;
            position: relative;
            padding-right: 16px;
            &:before, &:after{
                content: '';
                display: block;
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: white;
                right: -10px;
                border-radius: 100%;
            }
            &:before{
                top: -24px;
            }
            &:after{
                bottom: -24px;
                box-shadow: 0 2px 0 rgba(0,0,0,.8) inset;
            }                        
            .item{
                &:nth-child(1){
                    font-size: 12px;
                    font-weight: 400;
                    color: #454545;
                    img{
                        width: 18px;
                        margin-right: 4px;
                    }
                }
                &:nth-child(2){
                    font-size: 40px;
                    font-weight: 600;
                }
                &:nth-child(3){
                    font-size: 12px;
                }
            }
        }
        &:last-child{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            border-left: 1px dashed #B4B4B4;
            .use-type{
                font-size: 12px;
                font-weight: 500;
                padding: 4px 9px;
                border-radius: 12px;
                color: white;
                background-color: black;
                &.is-use{
                    background-color: #B4B4B4;
                }
            }
            .couopn-info{
                font-size: 12px;
                color: #1E1E1E;
                text-decoration: none;
                margin-top: auto;
                vertical-align: middle;
                img{
                    margin-bottom: 2px;
                }
            }
        }
    }
}

// shopping-order-container-box
.shopping-order-container-box{
    width: 100%;
    max-width: 1040px;
    margin: 47px auto 0;
    @media screen and (max-width: 576px) {
        margin-top: 0;
    }
    .order-num-box{
        background-color: #FBFBFB;
        padding: 28px 25px;
        @media screen and (max-width: 576px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .order-num-item{
            display: flex;
            @media screen and (max-width: 576px) {
                flex-direction: column;
                align-items: center;
            }
            +.order-num-item{
                margin-top: 12px;
            }
            &:last-child{
                .num-title, .num-info{
                    @media screen and (max-width: 576px) {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
            .num-title{
                flex: none;
                width: 60px;
                margin-right: 16px;
                font-size: 14px;
                font-weight: 500;
                padding-top: 3px;
                @media screen and (max-width: 576px) {
                    width: auto;
                    margin-right: 0;
                }
            }
            .num-info{
                display: flex;
                flex-direction: column;
                font-size: 18px;
                font-weight: 600;
                @media screen and (max-width: 576px) {
                    text-align: center;
                    font-size: 24px;
                }
                span{
                    font-size: 12px;
                    font-weight: 500;
                    color: #7C7C7C;
                }
            }
        }
    }
    .order-info-box{
        margin-top: 15px;
        @media screen and (max-width: 576px) {
            margin-top: 0;
            border: none;
            border-top: 5px solid #F8F9F9;
        }
        .order-info{
            p{
                font-size: 18px;
                font-weight: 500;
                @media screen and (max-width: 576px) {
                    font-size: 12px;
                }
            }
        }
        .order-name{
            p{
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
                color: #333;
            }
        }
        .order-status-box{
            display: flex;
            flex-direction: column;
            font-size: 14px;
            font-weight: 400;
            span{
                display: inline-block;
                font-size: 12px;
                &.status-text{
                    margin-left: 5px;
                    &.warning{
                        color: #ff0000;
                    }
                }
            }
        }
        .order-step-box{
            display: flex;
            margin-top: 15px;
            .step-item{
                flex: 1;
                text-align: center;
                font-size: 12px;
                font-weight: 400;
                position: relative;
                padding-top: 12px;
                opacity: .2;
                +.step-item{
                    margin-left: 13px;
                }
                &:before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    background-color: #1E1E1E;
                }
                &.is-step{
                    opacity: 1;
                }
            }
        }
        .pay-info-box{
            ul{
                margin-bottom: 0;
                li{
                    display: flex;
                    +li{
                        margin-top: 10px;
                    }
                    // align-items: center;
                    .pay-item{
                        &:first-child{
                            font-size: 14px;
                            font-weight: 400;
                            color: #1E1E1E;
                            flex: 1;
                        }
                        &:last-child{
                            font-size: 12px;
                            font-weight: 500;
                            color: #333;
                        }
                        span{
                            color: #979797;
                            font-weight: 400;
                            font-size: 12px;
                            display: block;
                            span{
                                display: inline-block;
                                color: #ff0000;
                            }
                        }
                    }
                }
            }
        }
    }
    .order-content-box{
        .order-title{
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 25px;
            @media screen and (max-width: 576px) {
                padding: 20px;
                font-size: 12px;
                border-top: 5px solid #F8F9F9;
            }
        }
        .order-content{
            padding: 25px 30px;
            border-top: 1px solid rgba(0, 0, 0, 0.15);
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            @media screen and (max-width: 576px) {
                border: none;
                padding: 13px 20px;
            }
            .order-info-list{
                .order-item{
                    display: flex;
                    align-items: center;
                    +.order-item{
                        margin-top: 20px;
                    }
                    .img-box{
                        width: 80px;
                        img{
                            width: 100%;
                        }
                    }
                    .info-name{
                        font-size: 14px;
                        margin-left: 12px;
                        span{
                            display: block;
                            font-size: 12px;
                            font-weight: 400;
                            color: #7C7C7C;
                            margin-top: 10px;
                        }
                    }
                    .item-price{
                        margin-left: auto;
                        @media screen and (max-width: 576px) {
                            margin-top: auto;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .more-btn{
        text-align: right;
        margin-top: 30px;
        a{
            padding: 15px 40px;
        }
        @media screen and (max-width: 576px) {
            text-align: center;
            margin-top: 0;
            margin-bottom: 16px;
            padding-top: 16px;
            border-top: 1px solid #eee;
        }
    }
}

.loading-box{
    text-align: center;
    padding: 30px 16px;
    img{
        animation: rotate 1.5s linear infinite;
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

// 優惠券使用說明
.coupon-rule-fixed{
    ul{
        li{
            +li{
                margin-top: 20px;
            }
            p{
                &:first-child{
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                &:last-child{
                    font-size: 12px;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
        }
    }
}