.news {
  background: black;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 2px 16px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
}

header nav ul {
  margin-bottom: 0;
}

header nav .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 1440px) {
  header nav .main-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 auto;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 890px) {
  header nav .main-menu {
    display: none;
  }
}

header nav .main-menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 0 8px;
  font-size: 16px;
}

header nav .main-menu a small {
  display: block;
  color: #7c7c7c;
  font-size: 12px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all .5s;
  transition: all .5s;
}

header nav .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1440px) {
  header nav .sub-menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

header nav .sub-menu .sub-menu-item {
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .sub-menu .sub-menu-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  text-decoration: none;
}

@media screen and (max-width: 890px) {
  header nav .sub-menu .sub-menu-item.search-box, header nav .sub-menu .sub-menu-item.choice-lang {
    display: none;
  }
}

header nav .sub-menu .sub-menu-item.choice-lang .lang-box {
  border-radius: 3px;
  overflow: hidden;
}

header nav .sub-menu .sub-menu-item.choice-lang .lang-box a {
  display: block;
  padding: 16px;
}

header nav .sub-menu .sub-menu-item.choice-lang .lang-box a:hover {
  background-color: #1E1E1E;
  color: white;
}

header nav .sub-menu .sub-menu-item.shopping-cart .dropdown .dropdown-box {
  min-width: 375px;
}

header nav .sub-menu .sub-menu-item .dropdown {
  position: relative;
}

header nav .sub-menu .sub-menu-item .dropdown button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box {
  position: absolute;
  top: 25px;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  width: 100%;
  min-width: 100px;
  z-index: 10;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box.active {
  display: block;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-box {
  padding: 40px 30px 15px;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-custom {
  padding-top: 15px;
  border-top: 1px #E0E0E0 solid;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top .cart-item img {
  width: 80px;
  height: auto;
  margin: 0;
  margin-right: 8px;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top .cart-item .cart-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top .cart-item .cart-title .cart-title-text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top .cart-item .cart-title .form-check {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding-top: 4px;
  margin-right: 0;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top .cart-item .cart-title .form-check .form-check-input {
  margin-right: 0;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top .cart-item .cart-title input[type='checkbox'] {
  accent-color: #1E1E1E;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top .cart-item .cart-price {
  font-size: 14px;
  font-weight: 600;
  margin-top: auto;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top .cart-item .cart-sale {
  font-size: 12px;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top .cart-item .cart-sale .cart-old-price {
  display: inline-block;
  text-decoration: line-through;
  color: #B4B4B4;
  font-weight: 500;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-top .cart-item .cart-sale .cart-sale-num {
  display: inline-block;
  color: #1E1E1E;
  font-weight: 600;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-bottom .num-item {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-bottom .num-item.num-ctrl {
  border: 1px #C4C4C4 solid;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-bottom .num-item img {
  width: 10px;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-bottom .num-item input {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .custom-item {
  margin-top: 16px;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .custom-p p {
  font-size: 12px;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .custom-p p.main-p {
  font-weight: 500;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .custom-p p.sub-p {
  font-weight: 400;
  text-decoration: underline;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  font-size: 12px;
  font-weight: 400;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-info img {
  width: 12px;
  height: 12px;
  margin: 0;
  margin-right: 6px;
}

header nav .sub-menu .sub-menu-item .dropdown .dropdown-box .cart-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px 30px;
}

header nav .sub-menu input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  max-width: 60px;
  font-size: 12px;
}

header nav .sub-menu input ::-webkit-input-placeholder {
  color: black;
}

header nav .sub-menu input :-ms-input-placeholder {
  color: black;
}

header nav .sub-menu input ::-ms-input-placeholder {
  color: black;
}

header nav .sub-menu input ::placeholder {
  color: black;
}

header nav .sub-menu .choice-lang {
  font-size: 12px;
}

header nav .sub-menu a {
  color: #1E1E1E;
}

header nav .sub-menu img {
  margin: 0 3px;
  width: 20px;
}

header nav .sub-menu img.search, header nav .sub-menu img.arrow {
  width: 10px;
}

header nav .logo {
  margin: 0 auto;
  line-height: 1;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

@media screen and (max-width: 1440px) {
  header nav .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

header nav .logo img {
  width: 300px;
  height: auto;
}

@media screen and (max-width: 1280px) {
  header nav .logo img:first-child {
    display: none;
  }
}

header nav .logo img:last-child {
  display: none;
}

@media screen and (max-width: 1280px) {
  header nav .logo img:last-child {
    display: block;
    width: 80px;
  }
}

header .sidebar-menu {
  display: none !important;
  margin-right: 0 !important;
}

@media screen and (max-width: 890px) {
  header .sidebar-menu {
    display: block !important;
  }
}

header .sidebar-menu .openbtn {
  background: transparent;
  border: none;
}

header .sidebar-menu .openbtn img {
  width: 30px;
}

header .sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 100;
  top: 0;
  right: -250px;
  background-color: #1E1E1E;
  overflow-x: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 60px;
}

header .sidebar.active {
  right: 0px;
}

header .sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
}

header .sidebar a:hover {
  color: #f1f1f1;
}

header .sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

header .openbtn {
  cursor: pointer;
}

header #main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  header .sidebar {
    padding-top: 15px;
  }
  header .sidebar a {
    font-size: 18px;
  }
}

header .main-menu-mobile small {
  display: block;
  font-size: 12px;
  opacity: .7;
}

.banner-slider {
  text-align: center;
}

.banner-slider .swiper-wrapper {
  height: 500px;
}

.banner-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-slider p {
  position: relative;
  font-size: 75px;
  font-weight: 600;
  color: #1E1E1E;
  margin-top: -50px;
  margin-bottom: 0;
  padding: 0 16px;
  z-index: 50;
}

@media screen and (max-width: 425px) {
  .banner-slider p {
    font-size: 50px;
    padding: 0 10px;
    line-height: 1.2;
    margin-top: -25px;
  }
}

.banner-slider .mouse-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.banner-slider .mouse-btn .mouse {
  position: relative;
  width: 30px;
  height: 46px;
  border-radius: 100px;
  border: 1px #1E1E1E solid;
  margin: 0 auto;
}

@media screen and (max-width: 425px) {
  .banner-slider .mouse-btn .mouse {
    width: 21px;
    height: 34px;
    margin-top: 24px;
  }
}

.banner-slider .mouse-btn .mouse:before {
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  background-color: #1E1E1E;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 5px;
  -webkit-animation: aniLength 1s linear infinite alternate;
          animation: aniLength 1s linear infinite alternate;
}

.banner-slider small {
  display: block;
  text-align: right;
  padding: 0 16px;
  font-size: 12px;
  color: #1E1E1E;
  opacity: .5;
  margin-top: -15px;
}

@media screen and (max-width: 767px) {
  .banner-slider small {
    margin-top: 10px;
    text-align: center;
  }
}

.how-box {
  margin-top: 100px;
  background-color: #282828;
  padding: 77px 16px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 425px) {
  .how-box {
    margin-top: 65px;
  }
}

.how-box p {
  font-size: 28px;
}

.how-box .how-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .how-box .how-list {
    display: inline-block;
    margin: 16px auto 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
  }
}

.how-box .how-list .how-item {
  position: relative;
  margin-right: 50px;
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .how-box .how-list .how-item {
    margin-right: 0px;
  }
}

.how-box .how-list .how-item:last-child {
  margin-right: 0;
}

.how-box .how-list .how-item:before {
  content: '';
  width: 20px;
  height: 1px;
  background: white;
  position: absolute;
  top: 50%;
  left: -30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.show-logo {
  text-align: center;
  padding: 210px 16px;
}

@media screen and (max-width: 767px) {
  .show-logo {
    padding: 50px 15px;
  }
}

.show-logo .img-box {
  display: block;
}

.show-logo img {
  display: inline-block;
  width: auto;
  height: 70px;
  margin: 0 auto;
}

@media screen and (max-width: 1270px) {
  .show-logo img {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .show-logo img {
    height: 60px;
  }
}

@media screen and (max-width: 576px) {
  .show-logo img {
    height: 40px;
  }
}

@media screen and (max-width: 425px) {
  .show-logo img {
    height: 30px;
  }
}

@media screen and (max-width: 375px) {
  .show-logo img {
    height: 25px;
  }
}

.show-logo img:last-child {
  margin-left: 24px;
}

@media screen and (max-width: 1270px) {
  .show-logo img:last-child {
    margin-top: 24px;
    margin-left: auto;
  }
}

.show-logo p {
  display: inline-block;
  background: #282828;
  color: white;
  padding: 16px;
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  margin-top: 35px;
}

@media screen and (max-width: 767px) {
  .show-logo p {
    font-size: 28px;
  }
}

.show-logo p span {
  display: inline-block;
}

.product-box {
  background: #FBFBFB;
  padding: 16px;
}

.product-box .product-info {
  background: #FFFFFF;
  border: 1px dashed #C2C2C2;
  border-radius: 2px;
  padding: 50px;
}

@media screen and (max-width: 767px) {
  .product-box .product-info {
    text-align: center;
    padding: 16px;
  }
}

.product-box .title, .product-box .sub-title {
  font-weight: 700;
  color: #1E1E1E;
}

.product-box .title {
  font-size: 60px;
}

@media screen and (max-width: 767px) {
  .product-box .title {
    font-size: 25px;
  }
}

.product-box .sub-title {
  font-size: 48px;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .product-box .sub-title {
    font-size: 20px;
  }
}

.product-box .sub-title span {
  display: inline-block;
  border-bottom: 2px #1E1E1E solid;
}

.product-box p {
  margin-top: 16px;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  .product-box p {
    font-size: 16px;
  }
}

.product-box .product-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .product-box .product-img-box {
    margin-top: 25px;
    padding: 0;
  }
}

.product-box .product-img-box .product-item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 140px;
  margin: 0 20px;
  text-align: center;
  color: #1E1E1E;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 991px) {
  .product-box .product-img-box .product-item {
    width: 15%;
  }
  .product-box .product-img-box .product-item:nth-child(1) img, .product-box .product-img-box .product-item:nth-child(5) img {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  .product-box .product-img-box .product-item:nth-child(2) img, .product-box .product-img-box .product-item:nth-child(4) img {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.product-box .product-img-box .product-item:nth-child(3) {
  width: 115px;
}

@media screen and (max-width: 991px) {
  .product-box .product-img-box .product-item:nth-child(3) {
    width: 20%;
  }
}

.product-box .product-img-box .product-item img {
  width: 100%;
}

.product-box .product-img-box .product-item p {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .product-box .product-img-box .product-item {
    width: 20%;
    margin: 0px;
  }
}

.r9-info-box .r9-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.r9-info-box .r9-box .r9-pro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-pro {
    top: 240px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 425px) {
  .r9-info-box .r9-box .r9-pro {
    top: 390px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.r9-info-box .r9-box .r9-pro img {
  width: 115px;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-pro img {
    width: 73px;
  }
}

.r9-info-box .r9-box .r9-item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 100px;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item {
    width: 100%;
    padding: 60px 22px;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item {
  display: block;
  background: -webkit-gradient(linear, left top, right top, color-stop(-27.29%, rgba(60, 62, 62, 0.5)), color-stop(-2.89%, rgba(152, 150, 151, 0.5)), color-stop(12.9%, rgba(153, 151, 152, 0.5)), color-stop(18.64%, rgba(160, 158, 159, 0.5)), color-stop(21.51%, rgba(172, 169, 170, 0.5)), color-stop(25.82%, rgba(193, 190, 190, 0.5)), color-stop(31.56%, rgba(140, 139, 139, 0.5)), color-stop(37.3%, rgba(94, 94, 94, 0.5)), color-stop(41.61%, rgba(66, 67, 67, 0.5)), color-stop(44.48%, rgba(56, 57, 57, 0.5)), color-stop(47.35%, rgba(63, 64, 64, 0.5)), color-stop(50.22%, rgba(85, 86, 86, 0.5)), color-stop(54.53%, rgba(120, 120, 120, 0.5)), color-stop(60.27%, rgba(169, 169, 169, 0.5)), color-stop(66.01%, rgba(239, 238, 238, 0.5)), color-stop(67.45%, rgba(246, 246, 246, 0.5)), color-stop(71.75%, rgba(253, 253, 253, 0.5)), color-stop(80.36%, rgba(255, 255, 255, 0.5)), color-stop(86.11%, rgba(253, 253, 253, 0.5)), color-stop(87.54%, rgba(246, 246, 246, 0.5)), color-stop(88.98%, rgba(236, 235, 235, 0.5)), color-stop(93.28%, rgba(207, 206, 207, 0.5)), color-stop(100.46%, rgba(163, 163, 164, 0.5)), color-stop(106.2%, rgba(136, 136, 137, 0.5)), color-stop(109.07%, rgba(126, 126, 128, 0.5)));
  background: linear-gradient(90deg, rgba(60, 62, 62, 0.5) -27.29%, rgba(152, 150, 151, 0.5) -2.89%, rgba(153, 151, 152, 0.5) 12.9%, rgba(160, 158, 159, 0.5) 18.64%, rgba(172, 169, 170, 0.5) 21.51%, rgba(193, 190, 190, 0.5) 25.82%, rgba(140, 139, 139, 0.5) 31.56%, rgba(94, 94, 94, 0.5) 37.3%, rgba(66, 67, 67, 0.5) 41.61%, rgba(56, 57, 57, 0.5) 44.48%, rgba(63, 64, 64, 0.5) 47.35%, rgba(85, 86, 86, 0.5) 50.22%, rgba(120, 120, 120, 0.5) 54.53%, rgba(169, 169, 169, 0.5) 60.27%, rgba(239, 238, 238, 0.5) 66.01%, rgba(246, 246, 246, 0.5) 67.45%, rgba(253, 253, 253, 0.5) 71.75%, rgba(255, 255, 255, 0.5) 80.36%, rgba(253, 253, 253, 0.5) 86.11%, rgba(246, 246, 246, 0.5) 87.54%, rgba(236, 235, 235, 0.5) 88.98%, rgba(207, 206, 207, 0.5) 93.28%, rgba(163, 163, 164, 0.5) 100.46%, rgba(136, 136, 137, 0.5) 106.2%, rgba(126, 126, 128, 0.5) 109.07%);
  text-align: left;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item.gradient-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item p, .r9-info-box .r9-box .r9-item.gradient-item small {
  display: block;
}

.r9-info-box .r9-box .r9-item.gradient-item p {
  font-weight: 500;
  margin: 8px 0;
}

.r9-info-box .r9-box .r9-item.gradient-item ul {
  display: inline-block;
  overflow: hidden;
  border-bottom: 1px solid #1E1E1E;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item.gradient-item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item ul li {
  float: left;
  margin-right: 16px;
  text-align: center;
}

.r9-info-box .r9-box .r9-item.gradient-item ul li img {
  width: 50px;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item.gradient-item ul li img {
    width: 30px;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item ul li p {
  margin-top: 5px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item.gradient-item ul li p {
    text-align: center;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc {
  margin-bottom: 16px;
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p {
  margin: 0;
  line-height: 1;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item.gradient-item .r9-desc p {
    text-align: center;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p:nth-child(1) {
  font-size: 12px;
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p:nth-child(2) {
  margin: 10px 0;
  font-weight: 500;
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p:nth-child(3) {
  font-size: 13px;
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p:nth-child(4) {
  line-height: 1.6;
  margin-top: 16px;
  font-size: 14px;
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p span {
  display: block;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item.gradient-item .r9-desc p span {
    display: inline-block;
  }
}

.r9-info-box .r9-box .r9-item p {
  display: inline-block;
  line-height: 50px;
  font-weight: 500;
  font-size: 28px;
  text-align: left;
}

.r9-info-box .r9-box .r9-item p .line-box {
  display: inline-block;
  width: 20px;
  height: 1px;
  background: black;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  margin-left: 5px;
  margin-right: 1px;
}

.r9-info-box .r9-box .r9-item img {
  width: 130%;
  margin-top: 30px;
}

.r9-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.r9-type .type-item {
  font-size: 40px;
  font-weight: 500;
  padding: 4px 12px;
  color: white;
}

.r9-type .type-item:first-child {
  background: #1E1E1E;
}

.r9-type .type-item:last-child {
  background: -webkit-gradient(linear, left top, right top, from(#3C3E3E), color-stop(17%, #7F7F7F), color-stop(27.37%, #7E7E7E), color-stop(43.8%, #A8A8A8), color-stop(60.19%, #676767), color-stop(76.33%, #B8B8B8), to(#888889));
  background: linear-gradient(90deg, #3C3E3E 0%, #7F7F7F 17%, #7E7E7E 27.37%, #A8A8A8 43.8%, #676767 60.19%, #B8B8B8 76.33%, #888889 100%);
}

.r9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.r9 .r9-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.r9 p {
  font-weight: 600;
  margin: 16px 0;
  font-size: 30px;
}

.r9 img {
  width: 115px;
}

@media screen and (max-width: 767px) {
  .r9 img {
    width: 73px;
  }
}

.pro-swiper-box {
  overflow: hidden;
}

.pro-swiper-box .pro-swiper {
  height: 100%;
}

.pro-swiper-box .pro-swiper .swiper-button-next {
  left: 0;
  right: unset;
  width: 30px;
  height: 30px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.pro-swiper-box .pro-swiper .swiper-button-next:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/icon-add_btn.png") 0 0 no-repeat;
  background-size: 100% auto;
}

.pro-swiper-box .pro-swiper .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pro-swiper-box .pro-swiper .swiper-slide img {
  width: 100%;
}

.pro-swiper-box .pro-swiper .swiper-slide .psa {
  width: 300px;
  height: auto;
  -o-object-fit: unset;
     object-fit: unset;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item {
  margin: 0 12px;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50%;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item .title {
  font-size: 12px;
  margin: 8px 0;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0;
  padding-bottom: 12px;
  border-bottom: 1px #1E1E1E solid;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item ul li {
  margin: 0 5px;
  text-align: center;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item ul li img {
  width: auto;
  height: 30px;
  -o-object-fit: unset;
     object-fit: unset;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item ul li p {
  font-size: 12px;
  font-weight: normal;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item .big-title {
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item .sub-title, .pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item .desc-info {
  font-size: 13px;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item .desc-info {
  margin-top: 8px;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .pro-img {
  width: 70px;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info p {
  margin-top: 12px;
  font-weight: 600;
}

.pro-swiper-box .pro-swiper .swiper-slide.h21 {
  background-color: #C8DAFF;
}

.pro-swiper-box .pro-swiper .swiper-slide.h21 .r9-type .type-item:first-child {
  background: #1E1E1E;
}

.pro-swiper-box .pro-swiper .swiper-slide.h21 .r9-type .type-item:last-child {
  background: #7591CC;
}

.pro-swiper-box .pro-swiper .swiper-slide.bd15 {
  background-color: #D0FFED;
}

.pro-swiper-box .pro-swiper .swiper-slide.a18 {
  background-color: #FFE1E1;
}

.pro-swiper-box .pro-swiper .swiper-slide.rv24 {
  background-color: #FFECD1;
}

.pro-swiper-box .pro-swiper .swiper-slide:before, .pro-swiper-box .pro-swiper .swiper-slide:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  opacity: .3;
}

.pro-swiper-box .pro-swiper .swiper-slide:before {
  width: 100%;
  top: 70px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: white;
}

.pro-swiper-box .pro-swiper .swiper-slide:after {
  width: 1px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
}

.pro-swiper-mobile-box {
  display: none;
}

@media screen and (max-width: 767px) {
  .pro-swiper-mobile-box {
    display: block;
  }
}

.pro-swiper-mobile-box .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 24px;
}

.pro-swiper-mobile-box .swiper-slide img {
  width: 100%;
}

.pro-swiper-mobile-box .swiper-slide img:first-child {
  width: 70px;
  margin: 0 auto 50px;
}

.pro-swiper-mobile-box .swiper-slide.h20 {
  background-color: #C8DAFF;
}

.pro-swiper-mobile-box .swiper-slide.bd15 {
  background-color: #D0FFED;
}

.pro-swiper-mobile-box .swiper-slide.a18 {
  background-color: #FFE1E1;
}

.pro-swiper-mobile-box .swiper-slide.rv24 {
  background-color: #FFECD1;
}

.pro-swiper-mobile-box .swiper-pagination {
  bottom: unset;
  top: 280px;
}

.meet-skin-box {
  overflow: hidden;
}

.meet-skin-box .skin-item .item-info p:nth-child(1) {
  text-transform: uppercase;
  font-size: 20px;
}

@media screen and (max-width: 425px) {
  .meet-skin-box .skin-item .item-info p:nth-child(1) {
    font-size: 12px;
  }
}

.meet-skin-box .skin-item .item-info p:nth-child(2) {
  font-size: 60px;
  font-weight: 500;
  margin: 8px 0;
}

@media screen and (max-width: 425px) {
  .meet-skin-box .skin-item .item-info p:nth-child(2) {
    font-size: 35px;
  }
}

.meet-skin-box .skin-item .item-info p:nth-child(3) {
  font-size: 18px;
}

@media screen and (max-width: 425px) {
  .meet-skin-box .skin-item .item-info p:nth-child(3) {
    font-size: 16px;
    padding: 0 16px;
  }
}

.meet-skin-box .skin-item .item-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 10;
}

.meet-skin-box .skin-item .item-info ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

.meet-skin-box .skin-item .item-info ul li {
  position: relative;
  border: 1px solid white;
  border-radius: 100%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 22px;
  padding: 16px;
}

.meet-skin-box .skin-item .item-info ul li:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

@media screen and (max-width: 767px) {
  .meet-skin-box .skin-item .item-info ul li {
    font-size: 12px;
  }
}

.meet-skin-box .skin-item .item-info .more-btn {
  margin-top: 45px;
}

.meet-skin-box .skin-item .item-info .more-btn a {
  background-color: white;
  border-color: white;
}

.meet-skin-box .skin-item .item-info .more-btn a:hover {
  background: black;
  color: white;
  border-color: black;
}

.meet-skin-box .skin-item .meet-swiper img {
  width: 100%;
}

.meet-skin-box .col-md-6:first-child {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .meet-skin-box .col-md-6:first-child {
    padding: 0;
  }
}

.meet-skin-box .col-md-6:last-child {
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .meet-skin-box .col-md-6:last-child {
    padding: 0;
  }
}

.analyze-box {
  position: relative;
  padding: 35px 0;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .analyze-box {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .analyze-box .analyze-item {
    text-align: center;
  }
}

.analyze-box .analyze-item img {
  width: 100%;
}

.analyze-box .analyze-item img.phone {
  max-width: 250px;
  margin: 0 auto;
}

.analyze-box .analyze-item p {
  font-size: 20px;
  margin-bottom: 0;
}

@media screen and (max-width: 425px) {
  .analyze-box .analyze-item p {
    font-size: 12px;
  }
}

.analyze-box .analyze-item p.title-p {
  font-weight: 600;
  font-size: 60px;
  line-height: 74px;
}

@media screen and (max-width: 425px) {
  .analyze-box .analyze-item p.title-p {
    font-size: 35px;
    line-height: 45px;
  }
}

.analyze-box .accordion-box {
  width: 50%;
  margin-top: 45px;
}

@media screen and (max-width: 767px) {
  .analyze-box .accordion-box {
    width: 100%;
  }
}

.analyze-box .accordion-box .accordion .card {
  border: none;
  background: transparent;
  margin-top: 16px;
}

.analyze-box .accordion-box .accordion .card-header {
  padding: 0;
  background: transparent;
  border-bottom: none;
  margin-bottom: 0;
}

.analyze-box .accordion-box .accordion .card-header .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

@media screen and (max-width: 425px) {
  .analyze-box .accordion-box .accordion .card-header .btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.analyze-box .accordion-box .accordion .card-header .btn p {
  display: none;
}

.analyze-box .accordion-box .accordion .card-header .btn.collapsed {
  border-bottom: 1px #BEBEBE solid;
  padding-bottom: 22px;
}

.analyze-box .accordion-box .accordion .card-header .btn.collapsed img.acc-b {
  display: none;
}

.analyze-box .accordion-box .accordion .card-header .btn.collapsed img.acc-s {
  display: block;
}

.analyze-box .accordion-box .accordion .card-header .btn.collapsed p {
  display: block;
  color: #B4B4B4;
  margin-left: 16px;
}

.analyze-box .accordion-box .accordion .card-header .btn:hover p {
  text-decoration: none !important;
}

.analyze-box .accordion-box .accordion .card-header img.acc-b {
  width: 83px;
}

.analyze-box .accordion-box .accordion .card-header img.acc-s {
  width: 43px;
  display: none;
}

.analyze-box .accordion-box .accordion .card-header .btn-link:hover {
  text-decoration: none !important;
}

.analyze-box .accordion-box .accordion .card-body {
  padding: 16px 12px;
}

.analyze-box .accordion-box .accordion .card-body .title-box {
  font-weight: 500;
  font-size: 30px;
  margin: 6px 0;
}

@media screen and (max-width: 767px) {
  .analyze-box .accordion-box .accordion .card-body .title-box {
    text-align: center;
  }
}

.analyze-box .accordion-box .accordion .card-body p {
  font-size: 16px;
}

.analyze-box .accordion-box .accordion .collapse {
  border-bottom: 1px #BEBEBE solid;
}

.analyze-box .more-btn {
  margin-top: 24px;
}

.store-phone-box {
  width: 100%;
  max-width: 290px;
  padding: 20px;
  background-color: #592A80;
  color: white;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 767px) {
  .store-phone-box {
    display: none;
  }
}

.store-phone-box.for-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .store-phone-box.for-mobile {
    position: static;
    max-width: 100%;
    text-align: center;
    display: block;
  }
}

.store-phone-box .store-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .store-phone-box .store-img-box {
    width: 100%;
    max-width: 210px;
    margin: 12px auto 0;
  }
}

.store-phone-box img {
  width: 120px;
  margin: 3px 0;
}

.store-phone-box .qrcode {
  width: 80px;
  margin-right: 12px;
}

.about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 343px 103px 235px;
  overflow: hidden;
  background: url("../img/pal-line.svg") center 93px no-repeat;
  background-size: auto 55px;
}

@media screen and (max-width: 767px) {
  .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 125px 16px;
    background-size: auto 35px;
    background-position: center 55px;
  }
}

.about-box .about-item {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

.about-box .about-item:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 70px;
}

@media screen and (max-width: 767px) {
  .about-box .about-item:nth-child(2) {
    margin: 30px 0;
  }
}

.about-box .about-item:nth-child(2) img {
  width: 383px;
  -webkit-animation: rotate 120s infinite linear;
          animation: rotate 120s infinite linear;
}

.about-box .about-item .sub-title {
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 425px) {
  .about-box .about-item .sub-title {
    font-size: 12px;
  }
}

.about-box .about-item .title-box {
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 24px;
}

@media screen and (max-width: 425px) {
  .about-box .about-item .title-box {
    font-size: 35px;
  }
}

.about-box .about-item p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  color: #1E1E1E;
}

.about-box .about-item p.sub-p {
  font-weight: normal;
  margin-top: 10px;
  font-size: 14px;
}

.about-box .more-btn {
  margin-top: 16px;
}

footer {
  background-color: #1E1E1E;
  color: white;
}

footer .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 16px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  footer .footer-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-logo {
  display: block;
  width: 152px;
}

@media screen and (max-width: 767px) {
  footer .footer-logo {
    margin-bottom: 24px;
  }
}

footer .footer-logo img {
  width: 100%;
}

footer .footer-menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  footer .footer-menu-box {
    margin-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-menu-box .footer-about {
  margin-left: 125px;
}

@media screen and (max-width: 425px) {
  footer .footer-menu-box .footer-about {
    margin-left: 0;
  }
}

footer .footer-menu-box p {
  font-size: 16px;
  font-weight: 700;
}

footer .footer-menu-box ul {
  font-size: 12px;
  margin-top: 12px;
}

footer .footer-menu-box ul li {
  line-height: 2;
}

footer .footer-menu-box ul li:before, footer .footer-menu-box ul li:after {
  display: table;
  content: "";
  line-height: 0;
}

footer .footer-menu-box ul dt {
  width: 80px;
  float: left;
  padding-right: 16px;
}

footer .footer-menu-box ul dd {
  overflow: hidden;
  zoom: 1;
}

footer .footer-menu-box ul a {
  color: white;
  text-decoration: none;
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  footer .footer-menu {
    display: none;
  }
}

footer .footer-menu .menu-item {
  margin-right: 36px;
}

footer .footer-menu .menu-item.disabled {
  opacity: .4;
  pointer-events: none;
}

footer .footer-menu-mobile {
  width: 100%;
  margin-top: 24px;
  display: none;
}

@media screen and (max-width: 767px) {
  footer .footer-menu-mobile {
    display: block;
  }
}

footer .footer-menu-mobile .footer-accordion {
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  background: transparent;
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 16px;
  border-top: 1px #676767 solid;
  cursor: pointer;
}

footer .footer-menu-mobile .footer-accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

footer .footer-menu-mobile .active:after {
  content: "\2212";
}

footer .footer-menu-mobile .footer-panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

footer .footer-menu-mobile .footer-panel a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 16px;
  border-top: 1px #3C3E3E solid;
}

footer .footer-menu-mobile .footer-panel a:last-child {
  border-bottom: 1px #3C3E3E solid;
}

footer .copyright-box {
  background-color: black;
  padding: 8px 16px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  footer .copyright-box {
    padding: 16px 12px;
  }
}

footer .copyright-box .copyright-item {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  footer .copyright-box .copyright-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .copyright-box .copyright-item p, footer .copyright-box .copyright-item ul {
  margin-bottom: 0;
}

footer .copyright-box .copyright-item ul {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  footer .copyright-box .copyright-item ul {
    margin-top: 8px;
  }
}

footer .copyright-box .copyright-item ul li {
  float: left;
  margin-left: 24px;
  position: relative;
}

@media screen and (max-width: 767px) {
  footer .copyright-box .copyright-item ul li:first-child {
    margin-left: 0;
  }
  footer .copyright-box .copyright-item ul li:first-child::before {
    display: none;
  }
}

footer .copyright-box .copyright-item ul li:before {
  content: '';
  display: block;
  width: 1px;
  height: 10px;
  background-color: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -12px;
}

footer .copyright-box .copyright-item ul li a {
  color: white;
  text-decoration: none;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.test-box .swiper-slide img {
  width: 100%;
}

@-webkit-keyframes aniLength {
  0% {
    height: 0;
  }
  100% {
    height: 12px;
  }
}

@keyframes aniLength {
  0% {
    height: 0;
  }
  100% {
    height: 12px;
  }
}
/*# sourceMappingURL=index.css.map */