*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

::placeholder {
    color: black;
    opacity: 1;
}

.under-line{
    display: inline-block;
    border-bottom: 2px #1E1E1E solid;
    line-height: 1;
}

.more-btn{
    a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 6px 12px;
        border: 1px solid #1E1E1E;
        font-size: 12px;
        text-decoration: none;
        color: #1E1E1E;
        border-radius: 2px;
        transition: all .5s;
        &:hover{
            background: black;
            color: white;
            img{
                display: none;
                &.btn-black{
                    display: block;
                }
            }
        }
    }
    img{
        width: 10px !important;
        margin: 0 !important;
        margin-left: 5px !important;
        &.btn-black{
            display: none;
        }
    }
}

header{
    .news{
        background: black;
        color: white;
        text-align: center;
        font-size: 12px;
        padding: 2px 16px;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 16px;
        flex-wrap: wrap;
        .main-menu, .sub-menu{
            flex: 2;
            display: flex;
            align-items: center;
        }
        .main-menu{
            @media screen and (max-width: 1440px) {
                order: 3;
                flex: none;
                width: 100%;
                justify-content: space-around;
                margin-top: 16px;
            }
            @media screen and (max-width: 767px) {
                display: none;
            }
            a{
                display: block;
                text-align: center;
                text-decoration: none;
                color: black;
                margin: 0 8px;
                font-size: 15px;
                small{
                    display: block;
                    color: #7c7c7c;
                    font-size: 12px;
                    transform: scale(.9);
                    transition: all .5s;
                }
            }
            justify-content: flex-start;
        } 
        .sub-menu{
            @media screen and (max-width: 1440px) {
                order: 2;
            }
            justify-content: flex-end;
            li{
                display: flex;
                align-items: center;
                margin: 0 8px;
                &.search-box, &.choice-lang{
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
            }
            input{
                border: none;
                background: transparent;
                outline: none;
                width: 100%;
                max-width: 60px;
                ::placeholder{
                    color: black;
                }
            }
            .choice-lang{
                font-size: 13px;
                .dropbtn {
                    display: flex;
                    align-items: center;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                }
                .dropdown {
                    position: relative;
                    display: inline-block;
                } 
                .dropdown-content {
                    display: none;
                    position: absolute;
                    right: 0;
                    background-color: white;
                    min-width: 160px;
                    overflow: auto;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        &:hover {
                            background-color: #ddd;
                        }
                    }
                    &.show {
                        display: block;
                    }
                }
            }
            a{
                color: #1E1E1E;
            }
            img{
                margin: 0 3px;
                width: 16px;
                &.search, &.arrow{
                    width: 13px;
                }
            }
        }
        .logo{
            flex: 1;
            text-align: center;
            @media screen and (max-width: 1440px) {
                flex: none;
            }
            img{
                width: 300px;
                height: auto;
                &:first-child{
                    @media screen and (max-width: 767px) {
                        display: none;
                    }
                }
                &:last-child{
                    display: none;
                    @media screen and (max-width: 767px) {
                        display: block;
                        width: 50px;
                    }
                }
            }
        }
    }
    .sidebar-menu{
        display: none !important;
        margin-right: 0 !important;
        @media screen and (max-width: 767px) {
            display: block !important;
        }
        .openbtn{
            background: transparent;
            border: none;
            img{
                width: 30px;
            }
        }
    }
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 100;
        top: 0;
        right: 0;
        background-color: #1E1E1E;
        overflow-x: hidden;
        transition: all 0.5s;
        padding-top: 60px;
        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 16px;
            color: white;
            display: block;
            &:hover {
                color: #f1f1f1;
            }
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }
    
    .openbtn {
        cursor: pointer;
    }
    
    #main {
        transition: margin-left .5s;
    }

    @media screen and (max-height: 450px) {
        .sidebar {
            padding-top: 15px;
        }
        .sidebar a {
            font-size: 18px;
        }
    }
    .main-menu-mobile{
        small{
            display: block;
            font-size: 12px;
            opacity: .7;
        }
    }
}

.banner-slider{
    text-align: center;
    .swiper-slide{
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
        }
    }
    p{
        position: relative;
        font-size: 36px;
        font-weight: 700;
        color: #1E1E1E;
        margin-top: -30px;
        z-index: 50;
    }
    .scrolling{
        width: 25px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    small{
        display: block;
        text-align: right;
        padding: 0 16px;
        font-size: 12px;
        color: #1E1E1E;
        opacity: .5;
        margin-top: -15px;
        @media screen and (max-width: 767px) {
            margin-top: 10px;
            text-align: center;
        }
    }
}

.how-box{
    margin: 50px 0;
    background-color: #282828;
    padding: 30px 16px;
    text-align: center;
    color: white;
    .how-list{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        margin-top: 16px;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
        .how-item{
            position: relative;
            margin-right: 30px;
            opacity: .8;
            @media screen and (max-width: 767px) {
                margin-right: 0px;
            }
            &:last-child{
                margin-right: 0;
            }
            &:before{
                content: '';
                width: 20px;
                height: 1px;
                background: white;
                position: absolute;
                top: 50%;
                left: -23px;
                transform: translateY(-50%);
            }
        }
    }
}

.show-logo{
    text-align: center;
    padding: 100px 30px;
    @media screen and (max-width: 767px) {
        padding: 50px 15px;
    }
    img{
        display: inline-block;
        width: auto;
        height: 70px;
        margin: 0 auto;
        @media screen and (max-width: 767px) {
            display: block;
            height: 40px;
        }
    }
    p{
        display: inline-block;
        background: #282828;
        color: white;
        padding: 16px;
        font-size: 35px;
        font-weight: 700;
        @media screen and (max-width: 767px) {
            font-size: 28px;
        }
        span{
            display: inline-block;
        }
    }
}

.product-box{
    background: #FBFBFB;
    padding: 16px;
    .product-info{
        background: #FFFFFF;
        border: 1px dashed #C2C2C2;
        border-radius: 2px;
        padding: 50px;
        @media screen and (max-width: 767px) {
            padding: 16px;
        }
    }
    small{
        text-transform: uppercase;
    }
    .title, .sub-title{
        font-weight: 700;
        color: #1E1E1E;
    }
    .title{
        font-size: 30px;
    }
    .sub-title{
        font-size: 25px;
        line-height: 1;
        span{
            display: inline-block;
            border-bottom: 2px #1E1E1E solid;
        }
    }
    p{
        margin-top: 16px;
        font-size: 13px;
    }
    .product-img-box{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        @media screen and (max-width: 767px) {
            margin-top: 25px;
        }
        .product-item{
            flex: none;
            width: 100px;
            margin: 0 10px;
            text-align: center;
            color: #1E1E1E;
            text-decoration: none;
            transition: all .5s;
            @media screen and (max-width: 767px) {
                flex: 1;
                margin: 0;
                &:nth-child(1), &:nth-child(5){
                    transform: translateY(-16px);
                }
                &:nth-child(2), &:nth-child(4){
                    transform: translateY(-8px);
                }
            }
            img{
                width: 100%;
            }
            &:hover{
                margin-top: -10px;
            }
        }
    }
}

.r9-box{
    display: flex;
    position: relative;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    .r9-pro{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 767px) {
            top: 290px;
            transform: translate(-50%, 0);
        }
        img{
            width: 70px;
        }
    }
    .r9-item{
        flex: none;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        text-align: center;
        padding: 100px 30px;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        &.gradient-item{
            display: block;
            background: linear-gradient(90deg, rgba(60, 62, 62, 0.5) -27.29%, rgba(152, 150, 151, 0.5) -2.89%, rgba(153, 151, 152, 0.5) 12.9%, rgba(160, 158, 159, 0.5) 18.64%, rgba(172, 169, 170, 0.5) 21.51%, rgba(193, 190, 190, 0.5) 25.82%, rgba(140, 139, 139, 0.5) 31.56%, rgba(94, 94, 94, 0.5) 37.3%, rgba(66, 67, 67, 0.5) 41.61%, rgba(56, 57, 57, 0.5) 44.48%, rgba(63, 64, 64, 0.5) 47.35%, rgba(85, 86, 86, 0.5) 50.22%, rgba(120, 120, 120, 0.5) 54.53%, rgba(169, 169, 169, 0.5) 60.27%, rgba(239, 238, 238, 0.5) 66.01%, rgba(246, 246, 246, 0.5) 67.45%, rgba(253, 253, 253, 0.5) 71.75%, rgba(255, 255, 255, 0.5) 80.36%, rgba(253, 253, 253, 0.5) 86.11%, rgba(246, 246, 246, 0.5) 87.54%, rgba(236, 235, 235, 0.5) 88.98%, rgba(207, 206, 207, 0.5) 93.28%, rgba(163, 163, 164, 0.5) 100.46%, rgba(136, 136, 137, 0.5) 106.2%, rgba(126, 126, 128, 0.5) 109.07%);
            text-align: left;
            padding: 100px 70px;
            @media screen and (max-width: 767px) {
                display: flex;
                justify-content: center;
                padding: 100px 16px;
            }
            .r9-type{
                display: flex;
            }
            .type-item{
                font-weight: 500;
                padding: 4px 12px;
                color: white;
                &:first-child{
                    background: #1E1E1E;
                }
                &:last-child{
                    background: linear-gradient(90deg, #3C3E3E 0%, #7F7F7F 17%, #7E7E7E 27.37%, #A8A8A8 43.8%, #676767 60.19%, #B8B8B8 76.33%, #888889 100%);
                }
            }
            p, small{
                display: block;
            }
            p{
                font-size: 18px;
                font-weight: 500;
                margin: 8px 0;
            }
            ul{
                display: inline-block;
                overflow: hidden;
                border-bottom: 1px solid #1E1E1E;
                margin-bottom: 16px;
                @media screen and (max-width: 767px) {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                li{
                    float: left;
                    margin-right: 16px;
                    text-align: center;
                    img{
                        width: 50px;
                        @media screen and (max-width: 767px) {
                            width: 30px;
                        }
                    }
                    p{
                        margin-top: 5px;
                        font-size: 12px;
                        @media screen and (max-width: 767px) {
                            text-align: center;
                        }
                    }
                }
            }
            .r9-desc{
                margin-bottom: 16px;
                p{
                    margin: 0;
                    line-height: 1;
                    font-weight: normal;
                    &:nth-child(1){
                        font-size: 12px;;
                    }
                    &:nth-child(2){
                        margin: 10px 0;
                        font-weight: 500;
                    }
                    &:nth-child(3){
                        font-size: 13px;
                    }
                    &:nth-child(4){
                        line-height: 1.6;
                        margin-top: 16px;
                        font-size: 14px;
                    }
                }
            }
        }
        p{
            display: inline-block;
            line-height: 1.8;
            font-weight: 500;
            font-size: 13px;
            text-align: left;
            .line-box{
                display: inline-block;
                width: 20px;
                height: 1px;
                background: black;
                transform: translateY(-4px);
                margin-left: 5px;
                margin-right: 1px;
            }
        }
        img{
            width: 100%;
            margin-top: 30px;
        }
    }
}

.meet-skin-box{
    display: flex;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    .skin-item{
        flex: none;
        width: 50%;
        position: relative;
        text-align: center;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        &:first-child{
            background: url('../img/meet-bg-1.jpeg') center center no-repeat;
            background-size: cover;
            .item-info{
                p{
                    &:nth-child(1){
                        text-transform: uppercase;
                        font-size: 13px;
                    }
                    &:nth-child(2){
                        font-size: 30px;
                        font-weight: 500;
                        margin: 8px 0;
                    }
                    &:nth-child(3){
                        font-size: 14px;
                    }
                }
            }
        }
        &:last-child{
            background: url('../img/meet-bg-2.jpeg') center center no-repeat;
            background-size: cover;
        }
        &:before{
            content: '';
            display: block;
            padding-top: 100%;
        }
        .item-info{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            ul{
                display: inline-block;
                overflow: hidden;
                li{
                    float: left;
                    width: 120px;
                    height: 120px;
                    border: 1px solid white;
                    border-radius: 100%;
                    margin: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 14px;
                    @media screen and (max-width: 767px) {
                        width: 80px;
                        height: 80px;
                        font-size: 12px;
                    }
                }
            }
            .more-btn{
                margin-top: 16px;
                a{
                    background-color: white;
                    border-color: white;
                    &:hover{
                        background: black;
                        color: white;
                        border-color: black;
                    }
                }
            }
        }
    }
}

.analyze-box{
    display: flex;
    position: relative;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    .analyze-item{
        display: flex;
        flex-direction: column;
        padding: 50px;
        @media screen and (max-width: 767px) {
            padding: 50px 16px;
            
        }
        &:first-child{
            flex: 1;
            text-align: center;
            img{
                width: 200px;
                margin: 0 auto;
            }
        }
        &:last-child{
            flex: 2;
            p{
                font-weight: 500;
                font-size: 30px;
                &:first-child{
                    font-weight: normal;
                    font-size: 12px;
                }
            }
        }
        p{
            display: block;
            text-transform: uppercase;
        }
    }
    .accordion-box{
        width: 60%;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        .accordion {
            display: flex;
            align-items: center;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 15px;
            @media screen and (max-width: 767px) {
                justify-content: center;
            }
            cursor: pointer;
            img{
                width: 20px;
                &.acc-b{
                    display: none;
                }
            }
            p{
                margin-left: 12px;
                color: #B4B4B4;
            }
            &.active{
                img{
                    width: 35px;
                    &.acc-b{
                        display: block;
                    }
                    &.acc-s{
                        display: none;
                    }
                }
                p{
                    display: none;
                }
            }
        }

        .title-box{
            font-weight: 500;
            font-size: 20px;
            margin: 6px 0;
            @media screen and (max-width: 767px) {
                text-align: center;
            }
        }

        p{
            font-size: 15px !important;
            font-weight: normal !important;
            @media screen and (max-width: 767px) {
                justify-content: center;
            }
        }
        
        .panel {
            background-color: white;
            border-bottom: 1px #BEBEBE solid;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            p{
                padding-bottom: 12px;
                line-height: 1.8;
                letter-spacing: 1px;
            }
        }
    }
    .more-btn{
        margin-top: 25px;
    }
    .store-phone-box{
        width: 100%;
        max-width: 290px;
        padding: 20px;
        background-color: #592A80;
        color: white;
        font-size: 13px;
        position: absolute;
        bottom: 0;
        right: 0;
        @media screen and (max-width: 767px) {
            position: static;
            max-width: 100%;
            text-align: center;
        }
        .store-img-box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 12px;
            @media screen and (max-width: 767px) {
                width: 100%;
                max-width: 210px;
                margin: 12px auto 0;
            }
        }
        img{
            width: 120px;
        }
        .qrcode{
            width: 80px;
            margin-right: 12px;
        }
    }
}

.about-box{
    display: flex;
    padding: 120px 16px;
    overflow: hidden;
    background: url('../img/pal-line.png') center 36px no-repeat;
    background-size: auto 28px;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    .about-item{
        flex: 2;
        text-align: center;
        &:nth-child(2){
            flex: 1;
            @media screen and (max-width: 767px) {
                margin: 30px 0;
            }
            img{
                width: 80%;
                animation: rotate 120s infinite linear;
            }
        }
        .sub-title{
            font-size: 12px;
            text-transform: uppercase;
        }
        .title-box{
            font-size: 30px;
            font-weight: 500;
            margin: 4px 0;
        }
        p{
            font-size: 12px;
            font-weight: 700;
            line-height: 1.6;
            color: #1E1E1E;
            &.sub-p{
                font-weight: normal;
                margin-top: 10px;
            }
        }
    }
    .more-btn{
        margin-top: 16px;
    }
}

footer{
    display: flex;
    padding: 30px 16px;
    background-color: #1E1E1E;
    color: white;
    .footer-box{
        display: flex;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    .footer-logo{
        display: block;
        width: 100px;
        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
        }
        img{
            width: 100%;
        }
    }
    .footer-menu-box{
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin-left: 30px;
        font-size: 14px;
        @media screen and (max-width: 767px) {
            margin-left: 0;
            flex-direction: column;
        }
        p{
            font-size: 16px;
            font-weight: 700;
        }
        ul{
            margin-top: 12px;
            li{
                line-height: 2;
                &:before, &:after{
                    display: table;
                    content: "";
                    line-height: 0;
                }
            }
            dt{
                width: 80px;
                float: left;
                padding-right: 16px;
            }
            dd{
                overflow: hidden;
                zoom: 1;
            }
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
    .footer-menu{
        display: flex;
        @media screen and (max-width: 767px) {
            display: none;
        }
        .menu-item{
            margin-right: 36px;
            &.disabled{
                opacity: .4;
                pointer-events: none;
            }
        }
    }
    .footer-menu-mobile{
        width: 100%;
        margin-top: 24px;
        display: none;
        @media screen and (max-width: 767px) {
            display: block;
        }
        .footer-accordion {
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            background: transparent;
            color: white;
            transition: 0.4s;
            padding: 16px;
            border-top: 1px #676767 solid;
            cursor: pointer;
        }
        
        .footer-accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        
        .active:after {
            content: "\2212";
        }
        
        .footer-panel {
            // padding: 0 16px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            a{
                display: block;
                color: white;
                text-decoration: none;
                padding: 16px;
                border-top: 1px #3C3E3E solid;
                &:last-child{
                    border-bottom: 1px #3C3E3E solid;
                }
            }
        }
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}