.news {
  background: black;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 2px 16px;
}

.banner-slider {
  text-align: center;
}

.banner-slider .swiper-wrapper {
  height: 700px;
}

@media screen and (max-width: 576px) {
  .banner-slider .swiper-wrapper {
    height: 500px;
  }
}

.banner-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 576px) {
  .banner-slider .swiper-slide img.for-desktop {
    display: none;
  }
}

.banner-slider .swiper-slide img.for-mobile {
  display: none;
}

@media screen and (max-width: 576px) {
  .banner-slider .swiper-slide img.for-mobile {
    display: block;
  }
}

.banner-slider p {
  position: relative;
  font-size: 75px;
  font-weight: 700;
  color: #1E1E1E;
  margin-top: -50px;
  margin-bottom: 0;
  padding: 0 16px;
  z-index: 50;
}

@media screen and (max-width: 576px) {
  .banner-slider p {
    font-size: 50px;
    padding: 0 10px;
    line-height: 1.2;
    margin-top: -25px;
  }
}

.banner-slider .mouse-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.banner-slider .mouse-btn .mouse {
  position: relative;
  width: 30px;
  height: 46px;
  border-radius: 100px;
  border: 1px #1E1E1E solid;
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .banner-slider .mouse-btn .mouse {
    width: 21px;
    height: 34px;
    margin-top: 24px;
  }
}

.banner-slider .mouse-btn .mouse:before {
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  background-color: #1E1E1E;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 5px;
  -webkit-animation: aniLength .5s linear infinite alternate;
          animation: aniLength .5s linear infinite alternate;
}

.banner-slider small {
  display: block;
  text-align: right;
  padding: 0 16px;
  font-size: 12px;
  color: #1E1E1E;
  opacity: .5;
}

@media screen and (max-width: 576px) {
  .banner-slider small {
    -webkit-transform: translate(30px, -30px) scale(0.8);
            transform: translate(30px, -30px) scale(0.8);
  }
}

@media screen and (max-width: 576px) {
  .banner-slider small span {
    display: block;
  }
}

.how-box {
  margin-top: 100px;
  background-color: #282828;
  padding: 77px 16px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 576px) {
  .how-box {
    margin-top: 65px;
  }
}

.how-box p {
  font-size: 28px;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  .how-box p {
    font-size: 26px;
  }
}

.how-box .how-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .how-box .how-list {
    display: inline-block;
    margin: 16px auto 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 50px;
  }
}

.how-box .how-list .how-item {
  position: relative;
  margin-right: 50px;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .how-box .how-list .how-item {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  .how-box .how-list .how-item:first-child {
    letter-spacing: 2px;
  }
}

.how-box .how-list .how-item:last-child {
  margin-right: 0;
}

.how-box .how-list .how-item:before {
  content: '';
  width: 34px;
  height: 1px;
  background: white;
  position: absolute;
  top: 50%;
  left: -50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.show-logo {
  text-align: center;
  padding: 210px 16px;
}

@media screen and (max-width: 767px) {
  .show-logo {
    padding: 50px 15px;
  }
}

.show-logo .img-box {
  display: block;
  text-align: center;
}

.show-logo .img-box img {
  height: 70px;
  margin: 0 auto;
}

@media screen and (max-width: 390px) {
  .show-logo .img-box img:first-child {
    height: 27px;
  }
}

@media screen and (max-width: 390px) {
  .show-logo .img-box img:last-child {
    height: 45px;
    margin-top: 16px;
  }
}

.show-logo p {
  display: inline-block;
  background: #282828;
  color: white;
  padding: 10px 20px;
  font-size: 60px;
  font-weight: 600;
  line-height: 76px;
  margin-top: 35px;
}

@media screen and (max-width: 767px) {
  .show-logo p {
    font-size: 28px;
    line-height: 1.6;
  }
}

.show-logo p span {
  display: inline-block;
  margin-left: 42px;
}

@media screen and (max-width: 576px) {
  .show-logo p span {
    display: block;
    margin-top: 16px;
    margin-left: 0;
  }
}

.product-box {
  background: #FBFBFB;
  padding: 16px;
}

.product-box .product-info {
  background: #FFFFFF;
  border: 1px dashed #C2C2C2;
  border-radius: 2px;
  padding: 50px;
}

@media screen and (max-width: 767px) {
  .product-box .product-info {
    text-align: center;
    padding: 16px;
  }
}

@media screen and (max-width: 576px) {
  .product-box .product-info {
    text-align: center;
    padding: 12px;
  }
}

.product-box .title, .product-box .sub-title {
  font-weight: 700;
  color: #1E1E1E;
}

.product-box .title {
  font-size: 60px;
}

@media screen and (max-width: 767px) {
  .product-box .title {
    font-size: 25px;
  }
}

.product-box .sub-title {
  font-size: 48px;
  line-height: 1;
}

@media screen and (max-width: 576px) {
  .product-box .sub-title {
    font-size: 28px;
  }
}

.product-box .sub-title span {
  display: inline-block;
  border-bottom: 2px #1E1E1E solid;
}

.product-box p {
  margin-top: 16px;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .product-box p {
    font-size: 16px;
  }
}

.product-box .product-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 10px;
  padding: 16px;
}

@media screen and (max-width: 767px) {
  .product-box .product-img-box {
    margin-top: 25px;
    padding: 0;
  }
}

.product-box .product-img-box .product-item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 140px;
  margin: 0 20px;
  text-align: center;
  color: #1E1E1E;
  text-decoration: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media screen and (max-width: 991px) {
  .product-box .product-img-box .product-item {
    width: 15%;
  }
  .product-box .product-img-box .product-item:nth-child(1) img, .product-box .product-img-box .product-item:nth-child(5) img {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .product-box .product-img-box .product-item:nth-child(2) img, .product-box .product-img-box .product-item:nth-child(4) img {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

@media screen and (max-width: 767px) {
  .product-box .product-img-box .product-item {
    width: 20%;
    margin: 0;
  }
}

.product-box .product-img-box .product-item:nth-child(3) {
  width: 115px;
}

@media screen and (max-width: 991px) {
  .product-box .product-img-box .product-item:nth-child(3) {
    width: 20%;
  }
}

.product-box .product-img-box .product-item img {
  width: 100%;
}

.product-box .product-img-box .product-item p {
  font-size: 12px;
}

.r9-info-box .r9-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.r9-info-box .r9-box .r9-pro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-pro {
    top: 240px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 576px) {
  .r9-info-box .r9-box .r9-pro {
    top: 260px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.r9-info-box .r9-box .r9-pro img {
  width: 115px;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-pro img {
    width: 73px;
  }
}

.r9-info-box .r9-box .r9-item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  text-align: center;
  padding: 100px;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item {
    width: 100%;
    padding: 60px 22px;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item {
  display: block;
  background: -webkit-gradient(linear, left top, right top, color-stop(-27.29%, rgba(60, 62, 62, 0.5)), color-stop(-2.89%, rgba(152, 150, 151, 0.5)), color-stop(12.9%, rgba(153, 151, 152, 0.5)), color-stop(18.64%, rgba(160, 158, 159, 0.5)), color-stop(21.51%, rgba(172, 169, 170, 0.5)), color-stop(25.82%, rgba(193, 190, 190, 0.5)), color-stop(31.56%, rgba(140, 139, 139, 0.5)), color-stop(37.3%, rgba(94, 94, 94, 0.5)), color-stop(41.61%, rgba(66, 67, 67, 0.5)), color-stop(44.48%, rgba(56, 57, 57, 0.5)), color-stop(47.35%, rgba(63, 64, 64, 0.5)), color-stop(50.22%, rgba(85, 86, 86, 0.5)), color-stop(54.53%, rgba(120, 120, 120, 0.5)), color-stop(60.27%, rgba(169, 169, 169, 0.5)), color-stop(66.01%, rgba(239, 238, 238, 0.5)), color-stop(67.45%, rgba(246, 246, 246, 0.5)), color-stop(71.75%, rgba(253, 253, 253, 0.5)), color-stop(80.36%, rgba(255, 255, 255, 0.5)), color-stop(86.11%, rgba(253, 253, 253, 0.5)), color-stop(87.54%, rgba(246, 246, 246, 0.5)), color-stop(88.98%, rgba(236, 235, 235, 0.5)), color-stop(93.28%, rgba(207, 206, 207, 0.5)), color-stop(100.46%, rgba(163, 163, 164, 0.5)), color-stop(106.2%, rgba(136, 136, 137, 0.5)), color-stop(109.07%, rgba(126, 126, 128, 0.5)));
  background: linear-gradient(90deg, rgba(60, 62, 62, 0.5) -27.29%, rgba(152, 150, 151, 0.5) -2.89%, rgba(153, 151, 152, 0.5) 12.9%, rgba(160, 158, 159, 0.5) 18.64%, rgba(172, 169, 170, 0.5) 21.51%, rgba(193, 190, 190, 0.5) 25.82%, rgba(140, 139, 139, 0.5) 31.56%, rgba(94, 94, 94, 0.5) 37.3%, rgba(66, 67, 67, 0.5) 41.61%, rgba(56, 57, 57, 0.5) 44.48%, rgba(63, 64, 64, 0.5) 47.35%, rgba(85, 86, 86, 0.5) 50.22%, rgba(120, 120, 120, 0.5) 54.53%, rgba(169, 169, 169, 0.5) 60.27%, rgba(239, 238, 238, 0.5) 66.01%, rgba(246, 246, 246, 0.5) 67.45%, rgba(253, 253, 253, 0.5) 71.75%, rgba(255, 255, 255, 0.5) 80.36%, rgba(253, 253, 253, 0.5) 86.11%, rgba(246, 246, 246, 0.5) 87.54%, rgba(236, 235, 235, 0.5) 88.98%, rgba(207, 206, 207, 0.5) 93.28%, rgba(163, 163, 164, 0.5) 100.46%, rgba(136, 136, 137, 0.5) 106.2%, rgba(126, 126, 128, 0.5) 109.07%);
  text-align: left;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item.gradient-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item p, .r9-info-box .r9-box .r9-item.gradient-item small {
  display: block;
}

.r9-info-box .r9-box .r9-item.gradient-item p {
  font-weight: 500;
  margin: 8px 0;
}

.r9-info-box .r9-box .r9-item.gradient-item small {
  font-size: 16px;
  font-weight: 600;
}

.r9-info-box .r9-box .r9-item.gradient-item ul {
  display: inline-block;
  overflow: hidden;
  border-bottom: 1px solid #1E1E1E;
  margin-bottom: 16px;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item.gradient-item ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item ul li {
  float: left;
  margin-right: 16px;
  text-align: center;
}

.r9-info-box .r9-box .r9-item.gradient-item ul li img {
  width: 50px;
  margin-top: 0;
}

@media screen and (max-width: 576px) {
  .r9-info-box .r9-box .r9-item.gradient-item ul li img {
    width: 48px;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item ul li p {
  margin-top: 5px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item.gradient-item ul li p {
    text-align: center;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc {
  margin-bottom: 16px;
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p {
  margin: 0;
  line-height: 1;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item.gradient-item .r9-desc p {
    text-align: center;
  }
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p:nth-child(1) {
  font-size: 12px;
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p:nth-child(2) {
  margin: 10px 0;
  font-weight: 500;
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p:nth-child(3) {
  font-size: 13px;
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p:nth-child(4) {
  line-height: 1.6;
  margin-top: 16px;
  font-size: 14px;
}

.r9-info-box .r9-box .r9-item.gradient-item .r9-desc p span {
  display: block;
}

@media screen and (max-width: 767px) {
  .r9-info-box .r9-box .r9-item.gradient-item .r9-desc p span {
    display: inline-block;
  }
}

.r9-info-box .r9-box .r9-item p {
  display: inline-block;
  line-height: 50px;
  font-weight: 500;
  font-size: 28px;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .r9-info-box .r9-box .r9-item p {
    font-size: 26px;
    text-align: center;
  }
}

.r9-info-box .r9-box .r9-item p .line-box {
  display: inline-block;
  width: 40px;
  height: 1px;
  background: black;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  margin-left: 5px;
  margin-right: 2px;
}

.r9-info-box .r9-box .r9-item img {
  position: relative;
  width: 130%;
  margin-top: 30px;
  z-index: -1;
}

@media screen and (max-width: 576px) {
  .r9-info-box .r9-box .r9-item img {
    width: 100%;
    margin-top: -40px;
  }
}

.r9-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.r9-type .type-item {
  font-size: 40px;
  font-weight: 700;
  padding: 4px 12px;
  color: white;
}

.r9-type .type-item:first-child {
  background: #1E1E1E;
}

.r9-type .type-item:last-child {
  background: -webkit-gradient(linear, left top, right top, from(#3C3E3E), color-stop(17%, #7F7F7F), color-stop(27.37%, #7E7E7E), color-stop(43.8%, #A8A8A8), color-stop(60.19%, #676767), color-stop(76.33%, #B8B8B8), to(#888889));
  background: linear-gradient(90deg, #3C3E3E 0%, #7F7F7F 17%, #7E7E7E 27.37%, #A8A8A8 43.8%, #676767 60.19%, #B8B8B8 76.33%, #888889 100%);
}

.r9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.r9 .r9-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.r9 p {
  font-weight: 600;
  margin: 16px 0;
  font-size: 30px;
}

.r9 img {
  width: 115px;
}

@media screen and (max-width: 767px) {
  .r9 img {
    width: 73px;
  }
}

.pro-swiper-box {
  overflow: hidden;
}

.pro-swiper-box .pro-swiper {
  height: 100%;
}

.pro-swiper-box .pro-swiper .swiper-button-next {
  left: 0;
  right: unset;
  width: 30px;
  height: 30px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.pro-swiper-box .pro-swiper .swiper-button-next:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../img/icon-add_btn.png") 0 0 no-repeat;
  background-size: 100% auto;
}

.pro-swiper-box .pro-swiper .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pro-swiper-box .pro-swiper .swiper-slide img {
  width: 100%;
}

.pro-swiper-box .pro-swiper .swiper-slide .psa {
  width: 300px;
  height: auto;
  -o-object-fit: unset;
     object-fit: unset;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item {
  margin: 0 12px;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50%;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item .title {
  font-size: 12px;
  margin: 8px 0;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0;
  padding-bottom: 12px;
  border-bottom: 1px #1E1E1E solid;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item ul li {
  margin: 0 5px;
  text-align: center;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item ul li img {
  width: auto;
  height: 30px;
  -o-object-fit: unset;
     object-fit: unset;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item ul li p {
  font-size: 12px;
  font-weight: normal;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item .big-title {
  font-size: 18px;
  font-weight: 600;
  margin: 8px 0;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item .sub-title, .pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item .desc-info {
  font-size: 13px;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .info-item .desc-info {
  margin-top: 8px;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info .pro-img {
  width: 70px;
}

.pro-swiper-box .pro-swiper .swiper-slide .pro-swiper-info p {
  margin-top: 12px;
  font-weight: 600;
}

.pro-swiper-box .pro-swiper .swiper-slide.h21 {
  background-color: #C8DAFF;
}

.pro-swiper-box .pro-swiper .swiper-slide.h21 .r9-type .type-item:first-child {
  background: #1E1E1E;
}

.pro-swiper-box .pro-swiper .swiper-slide.h21 .r9-type .type-item:last-child {
  background: #7591CC;
}

.pro-swiper-box .pro-swiper .swiper-slide.bd15 {
  background-color: #D0FFED;
}

.pro-swiper-box .pro-swiper .swiper-slide.a18 {
  background-color: #FFE1E1;
}

.pro-swiper-box .pro-swiper .swiper-slide.rv24 {
  background-color: #FFECD1;
}

.pro-swiper-box .pro-swiper .swiper-slide:before, .pro-swiper-box .pro-swiper .swiper-slide:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  opacity: .3;
}

.pro-swiper-box .pro-swiper .swiper-slide:before {
  width: 100%;
  top: 70px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: white;
}

.pro-swiper-box .pro-swiper .swiper-slide:after {
  width: 1px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
}

.pro-swiper-mobile-box {
  display: none;
}

@media screen and (max-width: 767px) {
  .pro-swiper-mobile-box {
    display: block;
  }
}

.pro-swiper-mobile-box .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 24px;
}

.pro-swiper-mobile-box .swiper-slide img {
  width: 100%;
}

.pro-swiper-mobile-box .swiper-slide img:first-child {
  width: 70px;
  margin: 0 auto 50px;
}

.pro-swiper-mobile-box .swiper-slide.h20 {
  background-color: #C8DAFF;
}

.pro-swiper-mobile-box .swiper-slide.bd15 {
  background-color: #D0FFED;
}

.pro-swiper-mobile-box .swiper-slide.a18 {
  background-color: #FFE1E1;
}

.pro-swiper-mobile-box .swiper-slide.rv24 {
  background-color: #FFECD1;
}

.pro-swiper-mobile-box .swiper-pagination {
  bottom: unset;
  top: 280px;
}

.meet-skin-box {
  overflow: hidden;
}

.meet-skin-box .skin-item .item-info p:nth-child(1) {
  text-transform: uppercase;
  font-size: 20px;
}

@media screen and (max-width: 576px) {
  .meet-skin-box .skin-item .item-info p:nth-child(1) {
    font-size: 12px;
  }
}

.meet-skin-box .skin-item .item-info p:nth-child(2) {
  font-size: 60px;
  font-weight: 500;
  margin: 8px 0;
}

@media screen and (max-width: 576px) {
  .meet-skin-box .skin-item .item-info p:nth-child(2) {
    font-size: 35px;
  }
}

.meet-skin-box .skin-item .item-info p:nth-child(3) {
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  .meet-skin-box .skin-item .item-info p:nth-child(3) {
    font-size: 16px;
    padding: 0 16px;
  }
}

.meet-skin-box .skin-item .item-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 10;
}

.meet-skin-box .skin-item .item-info ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

.meet-skin-box .skin-item .item-info ul li {
  position: relative;
  border: 1px solid white;
  border-radius: 100%;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 22px;
  padding: 16px;
}

.meet-skin-box .skin-item .item-info ul li:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

@media screen and (max-width: 576px) {
  .meet-skin-box .skin-item .item-info ul li {
    font-size: 14px;
  }
}

.meet-skin-box .skin-item .item-info .more-btn {
  margin-top: 45px;
}

.meet-skin-box .skin-item .item-info .more-btn a {
  background-color: white;
  border-color: white;
}

.meet-skin-box .skin-item .item-info .more-btn a:hover {
  background: black;
  color: white;
  border-color: black;
}

.meet-skin-box .skin-item .meet-swiper img {
  width: 100%;
}

.meet-skin-box .col-md-6:first-child {
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .meet-skin-box .col-md-6:first-child {
    padding: 0;
  }
}

.meet-skin-box .col-md-6:last-child {
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .meet-skin-box .col-md-6:last-child {
    padding: 0;
  }
}

.analyze-box {
  position: relative;
  padding: 35px 0;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .analyze-box {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .analyze-box .analyze-item {
    text-align: center;
  }
}

.analyze-box .analyze-item img {
  width: 100%;
}

.analyze-box .analyze-item img.phone {
  max-width: 250px;
  margin: 0 auto;
}

.analyze-box .analyze-item p {
  font-size: 20px;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .analyze-box .analyze-item p {
    font-size: 12px;
  }
}

.analyze-box .analyze-item p.title-p {
  font-weight: 600;
  font-size: 60px;
  line-height: 74px;
}

@media screen and (max-width: 576px) {
  .analyze-box .analyze-item p.title-p {
    font-size: 35px;
    line-height: 45px;
  }
}

.analyze-box .accordion-box {
  width: 50%;
  margin-top: 45px;
}

@media screen and (max-width: 767px) {
  .analyze-box .accordion-box {
    width: 100%;
  }
}

.analyze-box .more-btn {
  margin-top: 24px;
}

.store-phone-box {
  width: 100%;
  max-width: 290px;
  padding: 20px;
  background-color: #592A80;
  color: white;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 767px) {
  .store-phone-box {
    display: none;
  }
}

.store-phone-box.for-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .store-phone-box.for-mobile {
    position: static;
    max-width: 100%;
    text-align: center;
    display: block;
    padding-top: 39px;
    padding-bottom: 41px;
  }
}

.store-phone-box .store-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .store-phone-box .store-img-box {
    width: 100%;
    max-width: 210px;
    margin: 12px auto 0;
  }
}

.store-phone-box img {
  width: 120px;
  margin: 3px 0;
}

.store-phone-box .qrcode {
  width: 80px;
  margin-right: 12px;
}

.about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 343px 103px 235px;
  overflow: hidden;
  background: url("../img/pal-line.svg") center 93px no-repeat;
  background-size: auto 55px;
}

@media screen and (max-width: 767px) {
  .about-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 125px 16px;
    background-size: auto 35px;
    background-position: center 55px;
  }
}

.about-box .about-item {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
}

.about-box .about-item:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 70px;
}

@media screen and (max-width: 767px) {
  .about-box .about-item:nth-child(2) {
    margin: 30px 0;
  }
}

.about-box .about-item:nth-child(2) img {
  width: 383px;
  -webkit-animation: rotate 120s infinite linear;
          animation: rotate 120s infinite linear;
}

@media screen and (max-width: 576px) {
  .about-box .about-item:nth-child(2) img {
    width: 310px;
  }
}

.about-box .about-item .main-title {
  margin-bottom: 30px;
}

.about-box .about-item .sub-title {
  font-size: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 576px) {
  .about-box .about-item .sub-title {
    font-size: 12px;
  }
}

.about-box .about-item .title-box {
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 24px;
}

@media screen and (max-width: 576px) {
  .about-box .about-item .title-box {
    font-size: 35px;
  }
}

.about-box .about-item p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.6;
  color: #1E1E1E;
}

.about-box .about-item p.sub-p {
  font-weight: normal;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 30px;
}

.about-box .more-btn {
  margin-top: 16px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.test-box .swiper-slide img {
  width: 100%;
}

@-webkit-keyframes aniLength {
  0% {
    height: 0;
  }
  100% {
    height: 12px;
  }
}

@keyframes aniLength {
  0% {
    height: 0;
  }
  100% {
    height: 12px;
  }
}
/*# sourceMappingURL=index.css.map */