@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Plus+Jakarta+Sans:wght@200;600;800&display=swap');

body{
    font-family: 'Plus Jakarta Sans', 'Noto Sans TC', sans-serif;
}

.new-member-banner-box{
    width: 100%;
    height: 900px;
    position: relative;
    @media screen and (max-width: 576px) {
        height: auto;
    }
    .img-box{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        img{
            width: auto;
            height: 900px;
        }
    }
    .banner-box{
        display: flex;
        align-items: flex-end;
        width: 570px;
        height: 100%;
        margin-left: auto;
        margin-right: 130px;
        @media screen and (max-width: 576px) {
            width: 100%;
            height: auto;
            margin: auto;
            background-color: #F8F7F7;
            text-align: center;
        }
        .banner-text{
            border-bottom: 1px solid rgba(30, 30, 30, 0.15);
            .banner-small-title{
                font-size: 20px;
                font-weight: 500;
                @media screen and (max-width: 576px) {
                    font-size: 12px;
                }
            }
            .banner-title{
                font-size: 60px;
                font-weight: 900;
                margin-bottom: 20px;
                @media screen and (max-width: 576px) {
                    font-size: 35px;
                }
            }
            .banner-sub-title{
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            p{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 40px;
                +p{
                    margin-bottom: 20px;
                }
            }
        }
        .img-box-pc{
            width: 100%;
            margin-bottom: 50px;
            img{
                width: 100%;
            }
        }
    }
    .phone-box{
        display: flex;
        margin-top: 30px;
        .phone-item{
            &.phone-img{
                width: 230px;
                margin-left: auto;
                @media screen and (max-width: 576px) {
                    width: 170px;
                }
                img{
                    width: 100%;
                }
            }
            p{
                font-size: 18px;
                font-weight: 600;
            }
            .download-box{
                display: flex;
                .download-item{
                    display: flex;
                    flex-direction: column;
                    img{
                        width: 100%;
                    }
                    &.qrcode{
                        width: 100px;
                        margin-right: 30px;
                    }
                    &.store{
                        width: 135px;
                        a{
                            +a{
                                margin-top: auto;
                                @media screen and (max-width: 576px) {
                                    margin-top: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.new-member-step-box{
    width: 100%;
    max-width: 960px;
    margin: 0 auto 30px;
    @media screen and (max-width: 576px) {
        padding: 0 16px;
    }
    .step-title-box{
        margin-top: 100px;
        text-align: center;
        .sub-title-box{
            font-size: 20px;
            font-weight: 400;
            @media screen and (max-width: 576px) {
                font-size: 12px;
            }
        }
        .title-box{
            font-size: 60px;
            font-weight: 700;
            @media screen and (max-width: 576px) {
                font-size: 35px;
            }
        }
    }
    .step-box{
        display: flex;
        border-bottom: 1px solid rgba(30, 30, 30, 0.15);
        margin-top: 50px;
        padding-bottom: 60px;
        &:last-child{
            border-bottom: none;
        }
        &.step-1{
            .step-info{
                ul{
                    margin-top: 1rem;
                    li{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.6;
                        &:before, &:after{
                            content: "";
                            display: table;
                            line-height: 0;
                        }
                        &:after{
                            clear: both;
                        }
                        .info-title{
                            float: left;
                            padding-right: 5px;
                            line-height: 1.4;
                        }
                        .info-content{
                            zoom: 1;
                            overflow: hidden;
                            _overflow: visible;
                        }
                    }
                }
            }
        }
        &.step-2{
            .step-info{
                ul{
                    display: flex;
                    margin-top: 1rem;
                    width: 100%;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 14px;
                        font-weight: 500;
                        opacity: .5;
                        transition: .5s;
                        @media screen and (max-width: 576px) {
                            flex: none;
                            width: 50%;
                            margin-bottom: 30px;
                        }
                        cursor: pointer;
                        &.is-choose{
                            opacity: 1;
                        }
                        img{
                            width: 90px;
                            margin-top: 16px;
                            margin-bottom: 16px;
                        }

                    }
                }
            }
        }
        &.step-3{
            flex-wrap: wrap;
            p{
                font-size: 18px;
                font-weight: 600;
                padding: 20px 0;
                span{
                    text-decoration: underline;
                }
            }
            .step-info{
                flex: none;
                width: 100%;
                border-top: 1px solid rgba(30, 30, 30, 0.15);
                margin-top: 35px;
                ul{
                    display: flex;
                    margin-top: 1rem;
                    width: 100%;
                    justify-content: space-between;
                    overflow-x: auto;
                    li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-end;
                        font-size: 14px;
                        font-weight: 500;
                        opacity: .5;
                        transition: .5s;
                        cursor: pointer;
                        &.is-choose{
                            opacity: 1;
                        }
                        img{
                            width: 90px;
                            margin-bottom: 16px;
                            @media screen and (max-width: 576px) {
                                margin: 0 20px;
                            }
                        }

                    }
                }
            }
        }
        .step-item{
            flex: 1;
            +.step-item{
                margin-left: 10px;
            }
            &.step-num{
                font-size: 60px;
                font-weight: 700;
                line-height: 1;
                flex: none;
            }
            .step-title{
                font-size: 24px;
                font-weight: 600;
                padding-top: 20px;
                span{
                    @media screen and (max-width: 576px) {
                        display: block;
                    }
                }
            }
            .step-info{
                width: 100%;
                margin-top: 10px;
                p{
                    font-size: 18px;
                    font-weight: 600;
                    span{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .question-info-box{
        .question-list-box{
            .list-item{
                padding: 30px;
                background-color: #FBFBFB;
                +.list-item{
                    margin-top: 30px;
                }
                .item-content{
                    display: flex;
                    flex-wrap: wrap;
                    .item-info{
                        display: flex;
                        +.item-info{
                            margin-left: auto;
                            margin-top: auto;
                        }
                        .img-box{
                            margin-right: 15px;
                            img{
                                width: 80px;
                                height: auto;
                            }
                        }
                        .text-box{
                            .title-box{
                                font-size: 14px;
                                font-weight: 600;
                            }
                            .desc-box{
                                font-size: 12px;
                                font-weight: 400;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}