.bread-crumb-box .breadcrumb-wrap {
  padding: 50px 0 35px;
}

.bread-crumb-box .breadcrumb-wrap .breadcrumb {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
}

.bread-crumb-box .breadcrumb-wrap .breadcrumb li {
  padding: 0 12px;
}

.bread-crumb-box .breadcrumb-wrap .breadcrumb li:first-child {
  padding-left: 0;
}

.bread-crumb-box .breadcrumb-wrap .breadcrumb li + li {
  padding-left: 0;
}

.bread-crumb-box .breadcrumb-wrap .breadcrumb li + li:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
  background: url("/img/arrow-right.svg") 0 0 no-repeat;
  background-size: contain;
}

.bread-crumb-box .breadcrumb-wrap .breadcrumb a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  color: #808080;
}

.product-detail-swiper-box .swiper {
  width: 100%;
  height: 100%;
}

.product-detail-swiper-box .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-detail-swiper-box .swiper-slide img {
  display: block;
  width: 100%;
}

.product-detail-swiper-box .detail-swiper {
  height: 80%;
  width: 100%;
}

.product-detail-swiper-box .thumbs-swiper {
  height: 20%;
  margin-top: 15px;
}

.product-detail-swiper-box .swiper-pagination-bullet-active {
  background-color: #1E1E1E;
}

@media screen and (max-width: 576px) {
  .product-detail-swiper-box .product-detail-info .detail-top-box {
    background-color: white;
    padding: 20px 30px;
  }
}

.product-detail-swiper-box .product-detail-info .detail-title {
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .product-detail-swiper-box .product-detail-info .detail-title {
    font-size: 14px;
    font-weight: 400;
  }
}

.product-detail-swiper-box .product-detail-info .detail-desc p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
  margin-bottom: 0;
}

.product-detail-swiper-box .product-detail-info .price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  line-height: 1;
}

.product-detail-swiper-box .product-detail-info .price-box .new-price {
  font-size: 36px;
  font-weight: 600;
  color: #1E1E1E;
}

@media screen and (max-width: 576px) {
  .product-detail-swiper-box .product-detail-info .price-box .new-price {
    font-size: 18px;
  }
}

.product-detail-swiper-box .product-detail-info .price-box .old-price {
  font-size: 24px;
  font-weight: 400;
  color: #1E1E1E;
  opacity: .5;
  margin: 0 15px;
  text-decoration: line-through;
}

@media screen and (max-width: 576px) {
  .product-detail-swiper-box .product-detail-info .price-box .old-price {
    font-size: 13px;
  }
}

.product-detail-swiper-box .product-detail-info .price-box .sale-num {
  font-size: 18px;
  font-weight: 500;
  color: #1E1E1E;
}

@media screen and (max-width: 576px) {
  .product-detail-swiper-box .product-detail-info .price-box .sale-num {
    font-size: 13px;
  }
}

.product-detail-swiper-box .product-detail-info .price-box .free {
  background-color: #72BA0D;
  color: white;
  margin-left: auto;
  padding: 4px 8px;
  font-size: 12px;
}

.product-detail-swiper-box .product-detail-info .ctrl-num-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  border-bottom: 1px #B4B4B4 solid;
  padding-bottom: 16px;
}

.product-detail-swiper-box .product-detail-info .ctrl-num-box .num-ctrl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.product-detail-swiper-box .product-detail-info .ctrl-num-box .num-ctrl-item:first-child {
  margin-right: 15px;
}

.product-detail-swiper-box .product-detail-info .cart-item:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-detail-swiper-box .product-detail-info .custom-item .custom-p p {
  font-size: 16px;
}

.product-detail-swiper-box .product-detail-info .custom-item .custom-p p.main-p {
  font-weight: 600;
}

.product-detail-swiper-box .product-detail-info .custom-item .custom-p p.sub-p {
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
}

.product-detail-swiper-box .product-detail-info .custom-item .cart-title .cart-title-text {
  font-size: 15px;
}

.product-detail-swiper-box .product-detail-info .cart-price-box {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-detail-swiper-box .product-detail-info .cart-price-box .cart-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-detail-swiper-box .product-detail-info .cart-price-box .old-price {
  font-size: 12px;
  font-weight: 500;
  margin: 0 5px;
  color: #B4B4B4;
  text-decoration: line-through;
}

.product-detail-swiper-box .product-detail-info .cart-price-box .sale-num {
  font-size: 12px;
  color: #1E1E1E;
  font-weight: 600;
}

.product-detail-swiper-box .product-detail-info .cart-bottom {
  margin-left: auto;
}

.product-detail-swiper-box .product-detail-info .cart-bottom img {
  margin-right: 0;
}

.product-detail-swiper-box .product-detail-info .sale-info-box {
  margin-top: 25px;
  padding: 25px 0;
  border-top: 1px #B4B4B4 solid;
  border-bottom: 1px #B4B4B4 solid;
}

@media screen and (max-width: 576px) {
  .product-detail-swiper-box .product-detail-info .sale-info-box {
    margin-top: 5px;
    border: none;
    padding: 15px 30px;
    background-color: white;
  }
}

.product-detail-swiper-box .product-detail-info .sale-info-box .sale-info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-detail-swiper-box .product-detail-info .sale-info-box .sale-info-title img {
  margin-right: 12px;
}

.product-detail-swiper-box .product-detail-info .sale-info-box ul {
  margin-top: 12px;
  margin-bottom: 0;
}

.product-detail-swiper-box .product-detail-info .sale-info-box ul li + li {
  margin-top: 10px;
}

.product-detail-swiper-box .product-detail-info .sale-info-box ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  padding-right: 16px;
}

.product-detail-swiper-box .product-detail-info .day7 {
  padding: 12px 0;
  border-bottom: 1px #B4B4B4 solid;
}

@media screen and (max-width: 576px) {
  .product-detail-swiper-box .product-detail-info .day7 {
    margin-top: 5px;
    border: none;
    padding: 15px 30px;
    background-color: white;
  }
}

.product-detail-swiper-box .product-detail-info .day7 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  padding-right: 16px;
}

@media screen and (max-width: 576px) {
  .product-detail-swiper-box .product-detail-info a {
    padding-right: 0 !important;
  }
}

.product-detail-swiper-box .product-detail-info .detail-info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.product-detail-swiper-box .product-detail-info .detail-info-bottom .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-detail-swiper-box .product-detail-info .detail-info-bottom .item.favorite-btn {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 15px;
  font-weight: 500;
  color: #7C7C7C;
  margin-right: 15px;
}

.product-detail-swiper-box .product-detail-info .detail-info-bottom .item.favorite-btn.like-btn img:first-child {
  display: none;
}

.product-detail-swiper-box .product-detail-info .detail-info-bottom .item.favorite-btn.like-btn img:last-child {
  display: block;
}

.product-detail-swiper-box .product-detail-info .detail-info-bottom .item.favorite-btn img {
  width: 17px;
}

.product-detail-swiper-box .product-detail-info .detail-info-bottom .item.favorite-btn img:last-child {
  display: none;
}

.product-detail-swiper-box .product-detail-info .detail-info-bottom .item:nth-child(3) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-left: 15px;
}

.product-detail-swiper-box .product-detail-info .detail-info-bottom .item button {
  width: 100%;
}

.product-detail-info-box {
  margin-top: 60px;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box {
    margin-top: 5px;
  }
}

.product-detail-info-box .product-detail-tab-box {
  background-color: white;
}

.product-detail-info-box .product-detail-tab-box .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-detail-info-box .product-detail-tab-box .nav-tabs .nav-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-detail-info-box .product-detail-tab-box .nav-tabs .nav-item .nav-link {
  width: 100%;
  text-align: center;
  border: none;
  margin-bottom: 0;
  border-radius: 0;
  color: #1E1E1E;
  padding: 16px 0;
}

.product-detail-info-box .product-detail-tab-box .nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px #1E1E1E solid;
}

.product-detail-info-box .product-detail-tab-box .tab-content .base-info {
  padding: 30px 50px;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .base-info {
    padding: 26px 30px;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .tab-pane-title {
  font-size: 24px;
  font-weight: 400;
  color: #1E1E1E;
  text-align: center;
  margin-top: 30px;
}

.product-detail-info-box .product-detail-tab-box .tab-content .tab-pane-title span {
  font-weight: 700;
}

.product-detail-info-box .product-detail-tab-box .tab-content .img-box {
  margin-top: 30px;
}

.product-detail-info-box .product-detail-tab-box .tab-content .img-box img {
  width: 100%;
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box {
  padding: 0px 50px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .personalize-box {
    padding: 26px 30px;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info {
  padding: 40px 50px 50px;
  background-color: #FBFBFB;
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .person-title {
  font-size: 30px;
  font-weight: 700;
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info-box .personalize-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info-box .personalize-info-item img {
  width: 115px;
  margin-right: 62px;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info-box .personalize-info-item img {
    margin-right: 0px;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info-box .personalize-info-item .small-title {
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-top: 18px;
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info-box .personalize-info-item .main-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 0;
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info-box .personalize-info-item .sub-title {
  font-weight: 700;
  font-size: 20px;
  margin: 19px 0 11px;
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info-box .personalize-info-item .info-desc {
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  max-width: 500px;
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info-box .more-btn {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .personalize-box .personalize-info-box .more-btn {
    position: static;
    right: unset;
    bottom: unset;
    margin-top: 18px;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .personalize-box p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box {
  padding: 30px 50px;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .use-method-box {
    padding: 26px 30px;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .method-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .method-title span {
  text-decoration: underline;
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box p {
  font-size: 18px;
  font-weight: 400;
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .spec-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .spec-info img {
  margin-right: 8px;
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .flow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .flow-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .flow-box .flow-item {
  position: relative;
  width: 20%;
  margin-right: 75px;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .flow-box .flow-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .flow-box .flow-item:after {
  content: '';
  position: absolute;
  top: 26px;
  right: -52px;
  display: block;
  width: 24px;
  height: 24px;
  background: url("/img/arrow-right.svg") center center no-repeat;
  background-size: 6px auto;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .flow-box .flow-item:after {
    right: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .flow-box .flow-item:last-child {
  margin-right: 0;
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .flow-box .flow-item:last-child:after {
  display: none;
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .flow-box .flow-item .item-num {
  font-size: 16px;
  font-weight: 400;
}

.product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .flow-box .flow-item .item-content {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .use-method-box .flow-box .flow-item .item-content {
    padding-right: 24px;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .product-info-box {
  padding: 30px 50px;
  border-top: 1px #B4B4B4 solid;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .product-info-box {
    padding: 26px 30px;
    border-top: 5px #F8F9F9 solid;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .product-info-box .product-info-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .product-info-box .product-info-title {
    text-align: left;
    font-size: 12px;
    font-weight: 500;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .product-info-box .product-info-list {
  margin-top: 30px;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .product-info-box .product-info-list {
    margin-top: 10px;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .product-info-box .product-list-item {
  margin-bottom: 10px;
}

.product-detail-info-box .product-detail-tab-box .tab-content .product-info-box .product-list-item:before {
  display: table;
  content: "";
  line-height: 0;
}

.product-detail-info-box .product-detail-tab-box .tab-content .product-info-box .product-list-item:after {
  clear: both;
}

.product-detail-info-box .product-detail-tab-box .tab-content .product-info-box .product-list-item .product-list-title {
  width: 85px;
  float: left;
  color: #282828;
  padding-right: 20px;
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .product-info-box .product-list-item .product-list-title {
    font-size: 12px;
  }
}

.product-detail-info-box .product-detail-tab-box .tab-content .product-info-box .product-list-item .product-list-content {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}

@media screen and (max-width: 576px) {
  .product-detail-info-box .product-detail-tab-box .tab-content .product-info-box .product-list-item .product-list-content {
    font-size: 12px;
  }
}

.product-featured-box {
  margin-top: 80px;
}

@media screen and (max-width: 576px) {
  .product-featured-box {
    margin-top: 15px;
  }
}

.product-featured-box .product-featured-list {
  margin-top: 30px;
}

@media screen and (max-width: 576px) {
  .product-featured-box .product-featured-list {
    margin-top: 15px;
  }
}

.product-title {
  position: relative;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .product-title {
    font-size: 12px;
    text-align: left;
  }
}

.product-title .d-block {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

.see-more {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50px;
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .see-more {
    font-size: 12px;
    right: 30px;
  }
}

.see-more img {
  margin-left: 8px;
}

.product-score-box {
  margin-top: 80px;
  padding: 50px 30px;
  background-color: white;
}

@media screen and (max-width: 576px) {
  .product-score-box {
    margin-top: 20px;
    padding: 26px 30px;
  }
}

.product-score-box .score-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
  width: 100%;
  max-width: 480px;
}

@media screen and (max-width: 576px) {
  .product-score-box .score-box {
    margin: 0 auto;
  }
}

.product-score-box .score-box .item-title {
  font-size: 42px;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  .product-score-box .score-box .item-title {
    font-size: 16px;
  }
}

.product-score-box .score-box .score-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product-score-box .score-box .score-item:first-child {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 210px;
}

@media screen and (max-width: 576px) {
  .product-score-box .score-box .score-item:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: auto;
  }
}

.product-score-box .score-box .score-item .item-bar-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-score-box .score-box .score-item .item-bar-box .item-bar {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 12px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .product-score-box .score-box .score-item .item-bar-box .item-bar {
    font-size: 12px;
  }
}

.product-score-box .score-box .score-item .item-bar-box .bar-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #D9D9D9;
  height: 8px;
  margin: 0 8px;
}

@media screen and (max-width: 576px) {
  .product-score-box .score-box .score-item .item-bar-box .bar-box {
    height: 3px;
  }
}

.product-score-box .score-box .bar-gary {
  background-color: #7C7C7C;
  height: 100%;
}

.product-review-box {
  background-color: white;
}

.product-review-box .product-title {
  padding: 15px 50px 30px;
  border-bottom: 1px #F5F5F5 solid;
}

@media screen and (max-width: 576px) {
  .product-review-box .product-title {
    padding: 15px 30px;
    border-top: 1px #F5F5F5 solid;
  }
}

.product-review-box .review-box .review-list-box {
  border-bottom: 1px #F5F5F5 solid;
  padding: 30px 50px;
}

@media screen and (max-width: 576px) {
  .product-review-box .review-box .review-list-box {
    padding: 15px 30px;
  }
}

.product-review-box .review-box .review-list-box .review-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-review-box .review-box .review-list-box .review-title .title-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 15px;
}

.product-review-box .review-box .review-list-box .review-title .title-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-review-box .review-box .review-list-box .review-title .title-name {
  font-size: 14px;
  font-weight: 400;
  color: #979797;
}

.product-review-box .review-box .review-list-box .review-star span {
  color: #979797;
  margin-left: 9px;
}

.product-review-box .review-box .review-list-box .review-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #282828;
  text-align: justify;
}

@media screen and (max-width: 576px) {
  .product-review-box .review-box .review-list-box .review-desc {
    font-size: 12px;
    line-height: 1.6;
  }
}

.product-review-box .review-box .review-list-box .review-img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.product-review-box .review-box .review-list-box .review-img-list .review-img {
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-top: 10px;
}

.product-review-box .review-box .review-list-box .review-img-list .review-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-review-box .see-more-review {
  text-align: center;
  padding: 30px 0 50px;
}

@media screen and (max-width: 576px) {
  .product-review-box .see-more-review {
    padding: 15px 30px;
  }
}

.product-review-box .see-more-review a {
  color: #1E1E1E;
  text-decoration: none;
}
/*# sourceMappingURL=product-detail.css.map */