// banner
.products-banner{
    width: 100%;
    height: 400px;
    position: relative;
    .products-title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        font-weight: 700;
        color: white;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// mobile menu
.product-mobile-menu{
    position: sticky;
    top: 0;
    padding: 16px 0;
    border-bottom: 1px #B4B4B4 solid;
    background-color: white;
    z-index: 100;
    .mobile-menu-list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        a{
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 400;
            color: #1E1E1E;
            text-decoration: none;
            img{
                width: 12px;
                margin-left: 5px;
            }
        }
    }
}

// product-list-box
.product-list-box{
    margin-top: 100px;
    @media screen and (max-width: 991px) {
        margin-top: 40px;
    }
    .products-menu{
        max-width: 135px;
        .products-menu-item{
            padding-right: 16px;
            margin-bottom: 40px;
            a{
                flex: 1;
                display: block;
                color: #333333;
                font-size: 15px;
                text-decoration: none;
                &.menu-title{
                    font-size: 16px;
                    font-weight: 500;
                    border-bottom: 1px solid #7C7C7C;
                    color: #1E1E1E;
                }
            }
            ul{
                li{
                    display: flex;
                    align-items: center;
                    margin-top: 18px;
                    img{
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}

.shopping-guide-box{
    +.shopping-guide-box{
        margin-top: 20px;
    }
    .collapse{
        border-bottom: none;
    }
    button{
        color: #1E1E1E;
        font-size: 16px;
        font-weight: 500;
        justify-content: flex-start;
        text-decoration: none;
        &:hover{
            color: #1E1E1E;
        }
    }
    .card{
        margin-top: 0;
    }
    .card-header{
        margin-bottom: 0 !important;
    }
    .btn{
        border: none !important;
        img{
            margin-right: 5px;
            transform: rotate(90deg);
            transition: .5s;
        }
        &.collapsed{
            border: none !important;
            padding: 0.375rem 0.75rem !important;
            img{
                transform: rotate(0deg);
            }
        }
    }
    .card-body {
        font-size: 14px;
        font-weight: 400;
        padding: 12px !important;
        padding-left: 22px !important;
        ul{
            li{
                +li{
                    margin-top: 20px;
                }
                p{
                    margin-bottom: 0;
                    font-size: 14px;
                    &.sub-title{
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
