// bread-crumb-box
.bread-crumb-box{
    .breadcrumb-wrap{
        padding: 50px 0 35px;
        .breadcrumb{
            width: 100%;
            display: flex;
            background-color: transparent;
            padding: 0;
            margin-bottom: 0;
            li{
                padding: 0 12px;
                &:first-child{
                    padding-left: 0;
                }
                +li{
                    padding-left: 0;
                    &:before{
                        content: '';
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 6px;
                        background: url('/img/arrow-right.svg') 0 0 no-repeat;
                        background-size: contain;
                    }
                }
            }
            a{
                font-size: 12px;
                font-weight: 400;
                text-decoration: none;
                color: #808080;
            }
        }
    }
    
}
// product-detail-swiper-box
.product-detail-swiper-box{
    .swiper {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
    }
    .detail-swiper {
        height: 80%;
        width: 100%;
    }

    .thumbs-swiper {
        height: 20%;
        margin-top: 15px;
    }
    .swiper-pagination-bullet-active{
        background-color: #1E1E1E;
    }
    .product-detail-info{
        .detail-top-box{
            @media screen and (max-width: 576px) {
                background-color: white;
                padding: 20px 30px;
            }
        }
        .detail-title{
            font-size: 24px;
            font-weight: 600;
            @media screen and (max-width: 576px) {
                font-size: 14px;
                font-weight: 400;
            }
        }
        .detail-desc{
            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                text-align: justify;
                margin-bottom: 0;
            }
        }
        .price-box{
            display: flex;
            align-items: center;
            margin-top: 15px;
            line-height: 1;
            .new-price{
                font-size: 36px;
                font-weight: 600;
                color: #1E1E1E;
                @media screen and (max-width: 576px) {
                    font-size: 18px;
                }
            }
            .old-price{
                font-size: 24px;
                font-weight: 400;
                color: #1E1E1E;
                opacity: .5;
                margin: 0 15px;
                text-decoration: line-through;
                @media screen and (max-width: 576px) {
                    font-size: 13px;
                }
            }
            .sale-num{
                font-size: 18px;
                font-weight: 500;
                color: #1E1E1E;
                @media screen and (max-width: 576px) {
                    font-size: 13px;
                }
            }
            .free{
                background-color: #72BA0D;
                color: white;
                margin-left: auto;
                padding: 4px 8px;
                font-size: 12px;
            }
        }
        .ctrl-num-box{
            display: flex;
            margin-top: 15px;
            border-bottom: 1px #B4B4B4 solid;
            padding-bottom: 16px;
            .num-ctrl-item{
                display: flex;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                &:first-child{
                    margin-right: 15px;
                }
            }
        }
        .cart-item{
            &:last-child{
                flex: 1;
            }
        }
        .custom-item{
            .custom-p{
                p{
                    font-size: 16px;
                    &.main-p{
                        font-weight: 600;
                    }
                    &.sub-p{
                        font-size: 15px;
                        font-weight: 500;
                        text-decoration: underline;
                    }
                }
            }
            .cart-title{
                .cart-title-text{
                    font-size: 15px;
                }
            }
        }
        .cart-price-box{
            margin-top: auto;
            display: flex;
            align-items: center;
            .cart-price{
                // min-width: 195px;
                display: flex;
                align-items: center;
            }
            .old-price{
                font-size: 12px;
                font-weight: 500;
                margin: 0 5px;
                color: #B4B4B4;
                text-decoration: line-through;
            }
            .sale-num{
                font-size: 12px;
                color: #1E1E1E;
                font-weight: 600;
            }
        }
        .cart-bottom{
            margin-left: auto;
            img{
                margin-right: 0;
            }
        }
        .sale-info-box{
            margin-top: 25px;
            padding: 25px 0;
            border-top: 1px #B4B4B4 solid;
            border-bottom: 1px #B4B4B4 solid;
            @media screen and (max-width: 576px) {
                margin-top: 5px;
                border: none;
                padding: 15px 30px;
                background-color: white;
            }
            .sale-info-title{
                display: flex;
                align-items: center;
                img{
                    margin-right: 12px;
                }
            }
            ul{
                margin-top: 12px;
                margin-bottom: 0;
                li{
                    +li{
                        margin-top: 10px;
                    }
                    a{
                        display: flex;
                        justify-content: space-between;
                        color: #333;
                        font-size: 14px;
                        font-weight: 400;
                        text-decoration: none;
                        padding-right: 16px;
                    }
                }
            }
        }
        .day7{
            padding: 12px 0;
            border-bottom: 1px #B4B4B4 solid;
            @media screen and (max-width: 576px) {
                margin-top: 5px;
                border: none;
                padding: 15px 30px;
                background-color: white;
            }
            a{
                display: flex;
                justify-content: space-between;
                color: #333;
                font-size: 14px;
                font-weight: 400;
                text-decoration: none;
                padding-right: 16px;
            }
        }
        a{
            @media screen and (max-width: 576px) {
                padding-right: 0 !important;
            }
        }
        .detail-info-bottom{
            display: flex;
            align-items: center;
            padding: 25px 0;
            .item{
                flex: 1;
                &.favorite-btn{
                    flex: 2;
                    font-size: 15px;
                    font-weight: 500;
                    color: #7C7C7C;
                    margin-right: 15px;
                    &.like-btn{
                        img{
                            &:first-child{
                                display: none;
                            }
                            &:last-child{
                                display: block;
                            }
                        }
                    }
                    img{
                        width: 17px;
                        &:last-child{
                            display: none;
                        }
                    }
                }
                &:nth-child(3){
                    flex: 2;
                    margin-left: 15px;
                }
                button{
                    width: 100%;
                }
            }
        }
    }
}

// product-detail-info-box
.product-detail-info-box{
    margin-top: 60px;
    @media screen and (max-width: 576px) {
        margin-top: 5px;
    }
    .product-detail-tab-box{
        background-color: white;
        .nav-tabs{
            display: flex;
            .nav-item{
                flex: 1;
                .nav-link{
                    width: 100%;
                    text-align: center;
                    border: none;
                    margin-bottom: 0;
                    border-radius: 0;
                    color: #1E1E1E;
                    padding: 16px 0;
                    &.active{
                        border-bottom: 2px #1E1E1E solid;
                    }
                }
            }
        }
        .tab-content{
            .tab-pane{
                // padding: 50px;
                // @media screen and (max-width: 576px) {
                //     padding: 26px 30px;
                // }
            }
            .base-info{
                padding: 30px 50px;
                @media screen and (max-width: 576px) {
                    padding: 26px 30px;
                }
            }
            .tab-pane-title{
                font-size: 24px;
                font-weight: 400;
                color: #1E1E1E;
                text-align: center;
                margin-top: 30px;
                span{
                    font-weight: 700;
                }
            }
            .img-box{
                margin-top: 30px;
                img{
                    width: 100%;
                }
            }
            .personalize-box{
                padding: 0px 50px;
                text-align: center;
                @media screen and (max-width: 576px) {
                    padding: 26px 30px;
                }
                .personalize-info{
                    padding: 40px 50px 50px;
                    background-color: #FBFBFB;
                }
                .person-title{
                    font-size: 30px;
                    font-weight: 700;
                }
                .personalize-info-box{
                    display: flex;
                    justify-content: center;
                    position: relative;
                    @media screen and (max-width: 576px) {
                        flex-direction: column;
                        align-items: center;
                    }
                    .personalize-info-item{
                        display: flex;
                        flex-direction: column;
                        img{
                            width: 115px;
                            margin-right: 62px;
                            @media screen and (max-width: 576px) {
                                margin-right: 0px;
                            }
                        }
                        .small-title{
                            display: block;
                            font-weight: 400;
                            font-size: 16px;
                            margin-top: 18px;
                        }
                        .main-title{
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 1.6;
                            margin-bottom: 0;
                        }
                        .sub-title{
                            font-weight: 700;
                            font-size: 20px;
                            margin: 19px 0 11px;
                        }
                        .info-desc{
                            font-weight: 400;
                            font-size: 18px;
                            width: 100%;
                            max-width: 500px;
                        }
                    }
                    .more-btn{
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        @media screen and (max-width: 576px) {
                            position: static;
                            right: unset;
                            bottom: unset;
                            margin-top: 18px;
                        }
                    }
                }
                p{
                    font-size: 20px;
                    font-weight: 400;
                    margin-top: 20px;
                }
            }
            .use-method-box{
                padding: 30px 50px;
                @media screen and (max-width: 576px) {
                    padding: 26px 30px;
                }
                .method-title{
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 25px;
                    span{
                        text-decoration: underline;
                    }
                }
                p{
                    font-size: 18px;
                    font-weight: 400;
                }
                .spec-info{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 30px;
                    img{
                        margin-right: 8px;
                    }
                }
                .flow-box{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    text-align: left;
                    @media screen and (max-width: 576px) {
                        flex-direction: column;
                    }
                    .flow-item{
                        position: relative;
                        width: 20%;
                        margin-right: 75px;
                        @media screen and (max-width: 576px) {
                            width: 100%;
                            margin-right: 0;
                            margin-bottom: 16px;
                        }
                        &:after{
                            content: '';
                            position: absolute;
                            top: 26px;
                            right: -52px;
                            display: block;
                            width: 24px;
                            height: 24px;
                            background: url('/img/arrow-right.svg') center center no-repeat;
                            background-size: 6px auto;
                            @media screen and (max-width: 576px) {
                                right: 0;
                                transform: rotate(90deg);
                            }
                        }
                        &:last-child{
                            margin-right: 0;
                            &:after{
                                display: none;
                            }
                        }
                        .item-num{
                            font-size: 16px;
                            font-weight: 400;
                        }
                        .item-content{
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 32px;
                            @media screen and (max-width: 576px) {
                                padding-right: 24px;
                            }
                        }
                    }
                }
            }
            .product-info-box{
                padding: 30px 50px;
                border-top: 1px #B4B4B4 solid;
                @media screen and (max-width: 576px) {
                    padding: 26px 30px;
                    border-top: 5px #F8F9F9 solid;
                }
                .product-info-title{
                    text-align: center;
                    font-size: 30px;
                    font-weight: 700;
                    @media screen and (max-width: 576px) {
                        text-align: left;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
                .product-info-list{
                    margin-top: 30px;
                    @media screen and (max-width: 576px) {
                        margin-top: 10px;
                    }
                }
                .product-list-item{
                    margin-bottom: 10px;
                    &:before{
                        display: table;
                        content: "";
                        line-height: 0;
                    }
                    &:after{
                        clear: both;
                    }
                    .product-list-title {
                        width: 85px;
                        float: left;
                        color: #282828;
                        padding-right: 20px;
                        font-weight: 400;
                        font-size: 16px;
                        @media screen and (max-width: 576px) {
                            font-size: 12px;
                        }
                    }
                    .product-list-content{
                        overflow: hidden;
                        _overflow: visible;
                        zoom: 1;
                        margin-bottom: 0;
                        font-size: 14px;
                        font-weight: 400;
                        text-align: justify;
                        @media screen and (max-width: 576px) {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

// product-featured-box
.product-featured-box{
    margin-top: 80px;
    @media screen and (max-width: 576px) {
        margin-top: 15px;
    }
    .product-featured-list{
        margin-top: 30px;
        @media screen and (max-width: 576px) {
            margin-top: 15px;
        }
    }
}
.product-title{
    position: relative;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    @media screen and (max-width: 576px) {
        font-size: 12px;
        text-align: left;
    }
    .d-block{
        font-size: 12px;
        font-weight: 500;
        text-align: left;
    }
}
.see-more{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    @media screen and (max-width: 576px) {
        font-size: 12px;
        right: 30px;
    }
    img{
        margin-left: 8px;
    }
}

// product-score-box
.product-score-box{
    margin-top: 80px;
    padding: 50px 30px;
    background-color: white;
    @media screen and (max-width: 576px) {
        margin-top: 20px;
        padding: 26px 30px;
    }
    .score-box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
        width: 100%;
        max-width: 480px;
        @media screen and (max-width: 576px) {
            margin: 0 auto;
        }
        .item-title{
            font-size: 42px;
            font-weight: 500;
            @media screen and (max-width: 576px) {
                font-size: 16px;
            }
        }
        .score-item{
            flex: 1;
            &:first-child{
                flex: none;
                width: 210px;
                @media screen and (max-width: 576px) {
                    flex: 1;
                    width: auto;
                }
            }
            .item-bar-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .item-bar{
                    flex: none;
                    width: 12px;
                    text-align: center;
                    @media screen and (max-width: 576px) {
                        font-size: 12px;
                    }
                }
                .bar-box{
                    flex: 1;
                    background-color: #D9D9D9;
                    height: 8px;
                    margin: 0 8px;
                    @media screen and (max-width: 576px) {
                        height: 3px;
                    }
                }
            }
        }
        .bar-gary{
            background-color: #7C7C7C;
            height: 100%;
        }
    }
}

.product-review-box{
    background-color: white;
    .product-title{
        padding: 15px 50px 30px;
        border-bottom: 1px #F5F5F5 solid;
        @media screen and (max-width: 576px) {
            padding: 15px 30px;
            border-top: 1px #F5F5F5 solid;
        }
    }
    .review-box{
        .review-list-box{
            border-bottom: 1px #F5F5F5 solid;
            padding: 30px 50px;
            @media screen and (max-width: 576px) {
                padding: 15px 30px;
            }
            .review-title{
                display: flex;
                align-items: center;
                .title-img{
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    overflow: hidden;
                    margin-right: 15px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .title-name{
                    font-size: 14px;
                    font-weight: 400;
                    color: #979797;
                }
            }
            .review-star{
                span{
                    color: #979797;
                    margin-left: 9px;
                }
            }
            .review-desc{
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                color: #282828;
                text-align: justify;
                @media screen and (max-width: 576px) {
                    font-size: 12px;
                    line-height: 1.6;
                }
            }
            .review-img-list{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 20px;
                .review-img{
                    width: 120px;
                    height: 120px;
                    margin-right: 10px;
                    margin-top: 10px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .see-more-review{
        text-align: center;
        padding: 30px 0 50px;
        @media screen and (max-width: 576px) {
            padding: 15px 30px;
        }
        a{
            color: #1E1E1E;
            text-decoration: none;
        }
    }
}

